@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins|Merriweather");
/* Variables */
/* Global */
a {
  color: #191919;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* Global header */
.navbar {
  background: #efefef;
  width: 100%;
  -webkit-box-shadow: 0 1px 6px 0 #b4b4b4;
          box-shadow: 0 1px 6px 0 #b4b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 32px;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar a.logo-link {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo {
  height: 100%;
}

.navbar .nav-link {
  font-size: 20px;
  margin: 0 16px;
  text-decoration: none;
  position: relative;
}

.navbar .nav-link::after {
  content: "";
  display: inline-block;
  background: #191919;
  height: 2px;
  width: 80%;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.navbar .nav-link.current::after {
  width: 8px;
  background: #49a670;
}

.navbar .hamburger {
  display: none;
}

/* Global Main Content */
main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main:not(.index) {
  margin-top: 65px;
}

/* Global Footer */
.contact {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  background-color: #49a670;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#49a670), to(#41be75));
  background-image: linear-gradient(#49a670, #41be75);
}

.contact h2 {
  padding-top: 50px;
  color: #efefef;
  text-align: center;
  font-size: 1.35em;
  font-weight: normal;
}

.contact .icon-row {
  padding-top: 8px;
  text-align: center;
}

.contact .icon-row a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.contact .icon-row .icon {
  width: 60%;
  fill: #efefef;
  -webkit-transition: fill .2s ease-in-out;
  transition: fill .2s ease-in-out;
}

.contact .icon-row .icon:hover {
  fill: #bbb;
}

.contact p {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 1em;
  color: #efefef;
  text-align: center;
}

/*=========
  Home page
===========*/
/* Splash Section */
.splash {
  margin-top: 65px;
  height: calc(100vh - 65px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.splash::after {
  content: "";
  /* Background image by Anders Jildén @Unsplash.com */
  background-image: url(../assets/img/skyline.jpg);
  background-color: #333;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.splash .splash-text {
  font-size: 24px;
  line-height: 36px;
}

.splash .splash-text .job-title {
  color: #49a670;
}

.splash__btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #49a670;
  border-radius: 25px;
  padding: .25em 1em;
  margin-top: 1em;
  color: white;
  background: #49a670;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-box-shadow .2s ease-out;
  transition: -webkit-box-shadow .2s ease-out;
  transition: box-shadow .2s ease-out;
  transition: box-shadow .2s ease-out, -webkit-box-shadow .2s ease-out;
}

.splash__btn:hover {
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
}

.splash .avatar {
  border-radius: 50%;
}

/* About Section */
.about {
  position: relative;
  overflow-x: hidden;
  padding-top: 100px;
}

.about::after {
  content: "";
  display: inline-block;
  background: #49a670;
  height: 80%;
  width: 100px;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  position: absolute;
  right: -75px;
  top: 25px;
}

.about h2 {
  text-align: center;
  font-size: 28px;
}

.about__text {
  width: 50%;
  margin: 0 auto;
}

.about .skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  margin: 75px auto;
}

.about .skill-section {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .skill-section .icon {
  fill: #49a670;
}

.about .skill-section .skill-title {
  font-weight: bold;
  color: #49a670;
}

.about .skill-section .skills {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 1rem;
}

.about .skill-section .skills li::before {
  content: '\2714';
  margin-right: 5px;
}

.about .skill-section .skills li {
  list-style-type: none;
  padding: 3px 0;
}

/* Work Section */
.work {
  padding-top: 100px;
  text-align: center;
}

.work h2 {
  font-size: 28px;
}

.work .work-lead {
  font-style: italic;
  font-size: 18px;
}

.work .portfolio-container {
  position: relative;
  width: 70%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .item {
  width: 30%;
  border-radius: 5px;
  overflow: hidden;
  margin: 2em auto;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-box-shadow .25s ease-out;
  transition: -webkit-box-shadow .25s ease-out;
  transition: box-shadow .25s ease-out;
  transition: box-shadow .25s ease-out, -webkit-box-shadow .25s ease-out;
}

.work .item:hover {
  -webkit-box-shadow: 0 0 28px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 28px rgba(0, 0, 0, 0.25);
}

.work .item img {
  width: 100%;
  text-align: center;
  display: block;
}

.work .item-content {
  background: white;
  padding: 1.5rem;
  text-align: left;
}

.work .item-content div {
  margin-top: 2rem;
  text-align: right;
}

.work .item-content h3 {
  font-size: 1.25rem;
}

.work .card-action {
  color: #49a670;
  text-decoration: none;
  padding: .25rem .5rem;
  border: 1px solid white;
  -webkit-transition: border .2s ease-out, background-color .2s ease-out;
  transition: border .2s ease-out, background-color .2s ease-out;
}

.work .card-action:hover {
  border: 1px solid #49a670;
}

.work .card-action:focus {
  background-color: rgba(73, 166, 112, 0.25);
}

/*=============
  About Page
==============*/
.about-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-page h2 {
  width: 100%;
  text-align: center;
}

.about-page section {
  width: 40%;
  padding-left: 32px;
}

.about-page img {
  border-radius: 50%;
}

/*=============
  Post Pages
=============== */
.post {
  width: 700px;
  margin: 14vh auto 0 auto;
  font-family: Merriweather, serif;
}

.post header {
  margin-bottom: 48px;
}

.post__thumbnail {
  width: 100%;
  height: 525px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__thumbnail img {
  width: 100%;
}

.post footer {
  text-align: center;
}

.post .title {
  font-size: 24px;
}

.post .date {
  font-size: 14px;
}

.post p {
  margin: 16px 0;
}

.post .title, .post .date, .post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
  padding-top: 24px;
  font-family: Poppins, sans-serif;
}

.post hr {
  border: none;
}

.post hr::after {
  content: "•  •  •";
  display: block;
  width: 100%;
  text-align: center;
}

.post blockquote {
  border-left: 6px solid #49a670;
  padding-left: 8px;
  font-style: italic;
}

.post img:not(.post_signature) {
  width: 90%;
  max-width: 600px;
}

.post__btn--subscribe {
  font-family: Poppins, sans-serif;
  text-decoration: none;
  display: inline-block;
  color: #efefef;
  background-color: #49a670;
  padding: 8px 12px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.14);
}

@media only screen and (max-width: 768px) {
  /* Navigation */
  .navbar {
    /* Hamburger Icon (with animation) */
  }
  .navbar .nav {
    max-height: 0;
    overflow: hidden;
    text-align: center;
    background: white;
    width: 100%;
    padding: 0;
    -webkit-transition: max-height 0.5s ease-out, padding-top 0.2s ease-out, padding-bottom 0.2s ease-out;
    transition: max-height 0.5s ease-out, padding-top 0.2s ease-out, padding-bottom 0.2s ease-out;
    position: absolute;
    top: 70px;
    left: 0;
  }
  .navbar .nav.activeMenu {
    max-height: 700px;
    padding: .5em;
  }
  .navbar .nav .nav-link {
    display: block;
    font-size: 2em;
    margin: 2.5em;
  }
  .navbar .hamburger {
    display: inline;
  }
  .navbar .hamburger .bars {
    background: #191919;
    display: block;
    width: 2.5em;
    height: .25em;
    margin: 0.5em;
    text-align: center;
    -webkit-transition: width .3s ease-out, -webkit-transform .5s ease-out;
    transition: width .3s ease-out, -webkit-transform .5s ease-out;
    transition: width .3s ease-out, transform .5s ease-out;
    transition: width .3s ease-out, transform .5s ease-out, -webkit-transform .5s ease-out;
  }
  .navbar .hamburger.responsive :first-child {
    -webkit-transform: rotate(45deg) translate(7px, 6px);
            transform: rotate(45deg) translate(7px, 6px);
  }
  .navbar .hamburger.responsive :nth-child(2) {
    width: 0;
  }
  .navbar .hamburger.hamburger.responsive :last-child {
    -webkit-transform: rotate(-45deg) translate(10px, -10px);
            transform: rotate(-45deg) translate(10px, -10px);
  }
  /* Global Footer*/
  .contact {
    margin-top: 24px;
    padding: 0 16px;
  }
  /*=========
      Home Page
    =========*/
  /* Splash Section */
  .splash {
    overflow: hidden;
    padding-top: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .splash .container {
    padding-top: 7%;
    text-align: center;
    width: 70%;
  }
  .splash .splash-text {
    line-height: 48px;
  }
  .splash .splash__btn {
    font-size: 1.5em;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 70%;
    margin-top: 300px;
  }
  .splash .avatar {
    width: 40%;
  }
  /* About Section */
  .about {
    padding: 1em;
    text-align: center;
  }
  .about::after {
    display: none;
  }
  .about__text {
    width: 100%;
  }
  .about .skill-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .skill-section {
    width: 100%;
    margin-bottom: 32px;
  }
  .about .skills {
    padding: 0;
    text-align: left;
  }
  /*Work Section*/
  .work {
    padding-top: 0;
  }
  .work .portfolio-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  .work .item {
    width: 90%;
  }
  /*=============
      About Page
    ==============*/
  .about-page h2 {
    margin: 32px 0;
  }
  .about-page section {
    width: 90%;
    padding-left: 0;
    margin-bottom: 24px;
  }
  .about-page img {
    margin-bottom: 24px;
  }
  /*=============
      Post Pages
    =============== */
  .post {
    width: 350px;
  }
  .post__thumbnail {
    height: 262.5px;
  }
}
/*# sourceMappingURL=style.css.map */