@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Variables */
$bg: #efefef;
$main: #191919;
$accent: #49a670;

$f-ss: Poppins, sans-serif;

/* Global */
a {
    color: $main;
}

html{scroll-behavior: smooth}

body {
    padding: 0;
    margin: 0;
    font-family: $f-ss;
    color: $main;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Global header */
.navbar {
    background: $bg;
    width: 100%;
    box-shadow: 0 1px 6px 0 #b4b4b4;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    height: 65px;

    position: fixed;
    top: 0;
    z-index: 2;

    box-sizing: border-box;

    a.logo-link {
        height: 70%;
        
        display: flex;
        align-items: center;
    }
    
    .logo {
        height: 100%;
    }

    .nav-link {
        font-size: 20px;
        margin: 0 16px;
        text-decoration: none;

        position: relative;
    }

    .nav-link::after {
        content: "";
        display: inline-block;
        background: $main;
        height: 2px;
        width: 80%;

        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translate(-50%, 0);
        transition: width .3s ease-in-out;
    }

    .nav-link.current::after {
        width: 8px;
        background: $accent;
    }

    .hamburger {
        display: none;
    }
}

/* Global Main Content */
main {
    flex-grow: 1;
}

main:not(.index) {
    margin-top: 65px;
}

/* Global Footer */
.contact {
    box-sizing: border-box;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    background-color: $accent;
    background-image: linear-gradient($accent, hsl(145, 49%, 50%));

    h2 {
        padding-top: 50px;
        color: $bg;
        text-align: center;
        font-size: 1.35em;
        font-weight: normal;
    }

    .icon-row {
        padding-top: 8px;
        text-align: center;
    }

    .icon-row a {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        width: 50px;
        height: 50px;
        margin: 0 10px;
        cursor: pointer;
        transform: scale(0.9);
    }

    .icon-row .icon {
        width: 60%;
        fill: $bg;
        transition: fill .2s ease-in-out;
    }

    .icon-row .icon:hover {
        fill: #bbb;
    }

    p {
        margin: 0;
        padding-top: 32px;
        padding-bottom: 1em;
        color: $bg;
        text-align: center;
    }
}

/*=========
  Home page
===========*/

/* Splash Section */
.splash {
    margin-top: 65px;
    height: calc(100vh - 65px);

    position: relative;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    &::after {
        content: "";
        /* Background image by Anders Jildén @Unsplash.com */
        background-image: url(../assets/img/skyline.jpg);
        background-color: #333;
        background-size: cover;
        background-position: center;
        opacity: 0.2;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .splash-text {
        font-size: 24px;
        line-height: 36px;
    }

    .splash-text .job-title {
        color: $accent;
    }

    &__btn {
        display: inline-block;
        text-decoration: none;
        border: 1px solid $accent;
        border-radius: 25px;
        padding: .25em 1em;
        margin-top: 1em;
        color: white;
        background: $accent;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
        transition: box-shadow .2s ease-out;
        
        &:hover {
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
        }
    }

    .avatar {
        border-radius: 50%;
    }
}

/* About Section */
.about{
    position: relative;
    overflow-x: hidden;
    padding-top: 100px;

    &::after {
        content: "";
        display: inline-block;
        background: $accent;
        height: 80%;
        width: 100px;
        transform: rotate(8deg);

        position: absolute;
        right: -75px;
        top: 25px;
    }

    h2 {
        text-align: center;
        font-size: 28px;
    }

    &__text {
        width: 50%;
        margin: 0 auto;
    }

    .skill-container {
        display: flex;
        justify-content: space-around;
        width: 70%;
        margin: 75px auto;
    }

    .skill-section {
        width: 30%; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skill-section .icon {
        fill: $accent;
    }

    .skill-section .skill-title {
        font-weight: bold;
        color: $accent;
    }

    .skill-section .skills{
        display: inline-block;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .skill-section .skills li::before {
        content: '\2714';
        margin-right: 5px;
    }

    .skill-section .skills li {
        list-style-type :none;
        padding: 3px 0;
    }
}

/* Work Section */
.work {
    padding-top: 100px;
    text-align: center;

    h2 {
        font-size: 28px;
    }

    .work-lead {
        font-style: italic;
        font-size: 18px;
    }

    .portfolio-container {
        position: relative;
        width: 70%;
        margin: 50px auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .item{
        width: 30%;
        border-radius: 5px;
        overflow: hidden;
        margin: 2em auto;
        box-shadow: 0 0px 3px rgba(0,0,0,0.25);
        transition: box-shadow .25s ease-out;
    }

    .item:hover {
        box-shadow: 0 0 28px rgba(0, 0, 0, 0.25); 
    }

    .item img {
        width: 100%;
        text-align: center;
        display: block;
    }

    .item-content{
        background: white;
        padding: 1.5rem;
        text-align: left;
    }

    .item-content div {
        margin-top: 2rem;
        text-align: right;
    }
    .item-content h3 {font-size: 1.25rem}

    .card-action{
        color: $accent;
        text-decoration: none;
        padding: .25rem .5rem;
        border: 1px solid white;
        transition: border .2s ease-out, background-color .2s ease-out;
    }

    .card-action:hover {
        border: 1px solid $accent;
    }

    .card-action:focus{
        background-color: rgba(73, 166, 112, .25);
    }
}

/*=============
  About Page
==============*/
.about-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    h2 {
        width: 100%;
        text-align: center;
    }
    section {
        width: 40%;
        padding-left: 32px;
    }
    img {
        border-radius: 50%;
    }
}


/*=============
  Post Pages
=============== */

.post {
    width: 700px;

    margin: 14vh auto 0 auto;

    header {
        margin-bottom: 48px;
    }

    &__thumbnail {
        width: 100%;
        height: 525px;

        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
        }
    }

    footer {
        text-align: center;
    }

    .title {
        font-size: 24px;
    }

    .date {
        font-size: 14px;
    }

    p {
        margin: 16px 0;
    }

    .title, .date, h1, h2, h3, h4, h5, h6 {
        padding-top: 24px;
    }

    hr {
        border: none;
     
        &::after {
            content: "•  •  •";
            display: block;
            width: 100%;
            text-align: center;
        }
    }
    
    blockquote {
        border-left: 6px solid $accent;
        padding-left: 8px;
        font-style: italic;
    }

    a {
        color: $accent;

        &:hover, &:focus {
            opacity: 0.75;
        }
    }

    img:not(.post_signature) {
        width: 90%;
        max-width: 600px;
    }

    &__btn--subscribe {
        text-decoration: none;
        display: inline-block;
        color: $bg;
        background-color: $accent;
        padding: 8px 12px;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.14);
    }
}

@media only screen and (max-width: 768px) {
    /* Navigation */
    .navbar {
        .nav {
            max-height: 0;
            overflow: hidden;
            text-align: center;
            background: white;
            width: 100%;
            padding: 0;
            transition: max-height 0.5s ease-out, padding-top 0.2s ease-out, padding-bottom 0.2s ease-out;

            position: absolute;
            top: 70px;
            left: 0;
        
            &.activeMenu {
            max-height: 700px;
            padding: .5em;
            }

            .nav-link {
                display: block;
                font-size: 2em;
                margin: 2.5em;
            }
        }

        /* Hamburger Icon (with animation) */
        .hamburger {
            display: inline;
            
            .bars{
                background: $main;
                display: block;
                width: 2.5em;
                height: .25em;
                margin: 0.5em;
                text-align: center;
                transition: width .3s ease-out, transform .5s ease-out;
            }

            &.responsive :first-child{
                transform: rotate(45deg) translate(7px, 6px);
            }

            &.responsive :nth-child(2){
                width: 0;
            }

            &.hamburger.responsive :last-child{
                transform: rotate(-45deg) translate(10px, -10px);
            }
        }
    }

    /* Global Footer*/
    .contact {
        margin-top: 24px;
        padding: 0 16px;
    }

    /*=========
      Home Page
    =========*/

    /* Splash Section */
    .splash {
        overflow: hidden;
        padding-top: 70px;
        
        flex-direction: column;
        justify-content: flex-start ;
        box-sizing: border-box;

        .container {
            padding-top: 7%;
            text-align: center;
            width: 70%;
        }

        .splash-text {
            line-height: 48px;
        }

        .splash__btn {
            font-size: 1.5em;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            width: 70%;
            margin-top: 300px;
        }

        .avatar {
            width: 40%;
        }
    }

    /* About Section */
    .about {
        padding: 1em;
        text-align: center;
        
        &::after {
            display: none;
        }

        &__text {
            width: 100%;
        }

        .skill-container {
            flex-direction: column;
        }

        .skill-section {
            width: 100%;
            margin-bottom: 32px;
        }

        .skills {
            padding: 0;
            text-align: left;
        }
    }
    
    /*Work Section*/
    .work {
        padding-top: 0;
        
        .portfolio-container {
            flex-direction: column;
            margin-top: 10px;
        }

        .item {
            width: 90%;
        }
    }

    /*=============
      About Page
    ==============*/
    .about-page {
        h2 {
            margin: 32px 0;
        }

        section {
            width: 90%;
            padding-left: 0;
            margin-bottom: 24px;
        }
        
        img {
            margin-bottom: 24px;
        }
    }

    /*=============
      Post Pages
    =============== */
    .post {
        width: 350px;
        
        &__thumbnail {
            height: #{350 * 0.75}px;
        }
    }
}
