/* Variables */
:root{
    --bg: hsl(0, 0%, 94%);
    --main: hsl(0, 0%, 10%);
    --accent: hsl(145, 39%, 47%);
}
/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--main);
}

body {
    font-family: 'Roboto', 'Segoe UI', sans-serif;
}

/* Navbar */
.navbar {
    background: var(--bg);
    width: 100%;
    box-shadow: 0 1px 6px 0 #b4b4b4;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;

    position: fixed;
    top: 0;
    z-index: 2;
}

.navbar a.logo-link {
    height: 100%;
    
    display: flex;
    align-items: center;
}

.navbar .logo {
    height: 50px;
}

.navbar .nav-link {
    font-size: 1.25em;
    margin: 0 1em;
    text-decoration: none;

    position: relative;
}

.navbar .nav-link::after {
    content: "";
    display: inline-block;
    background: var(--main);
    height: 2px;
    width: 2em;

    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: width .5s ease-in-out;
}

.navbar .nav-link.current::after {
    width: .5em;
    background: var(--accent);
}

.navbar .hamburger {
    display: none;
}

/* Splash Section */

.splash {
    height: 100vh;
    width: 100%;
    margin-bottom: 10vh;
    padding-top: 10vh;

    position: relative;
    top: 0;

    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.splash::after {
    content: "";
    /* Background image by Anders Jildén @Unsplash.com */
    background-image: url(../assets/skyline.jpg);
    background-color: #333;
    background-size: cover;
    background-position: center;
    opacity: 0.2;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.splash .splash-text {
    font-weight: bold;
    font-size: 2em;
    line-height: 48px;
}

.splash .splash-text .jobTitle {
    color: var(--accent);
}

.btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--accent);
    border-radius: 25px;
    padding: .25em 1em;
    margin-top: 1em;
}

.btn-primary {
    color: white;
    background: var(--accent);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    transition: box-shadow .2s ease-out;
}

.btn-primary:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
}

.btn-secondary {
    color: var(--accent);
    margin-left: 1em;
    background: rgba(255, 255, 255, 0.5);
    transition: background .2s ease-out;
}

.btn-secondary:hover {
    background: hsla(145, 39%, 90%, 0.5);
}

.splash .avatar {
    margin-top: 200px;
    clip-path: circle(20% at 290px 130px);
    -webkit-clip-path: circle(20% at 290px 130px);
}

/* About Section */
.about{
    position: relative;
    overflow-x: hidden;
    padding-top: 100px;
}

.about::after {
    content: "";
    display: inline-block;
    background: var(--accent);
    height: 80%;
    width: 200px;
    transform: rotate(20deg);

    position: absolute;
    right: -150px;
    top: 0;
}

.about h1 {
    text-align: center;
    padding: 1em 0;
}

.about .about-text {
    width: 50%;
    margin: 0 auto;
}

.about .about-text p {
    margin: 1em 0;
}

.about .about-text span {
    font-size: 1.5em;
}

.skill-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 75px auto;
}

.skill-section {
    width: 30%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-section .icon {
    fill: var(--accent);
}

.skill-section .skill-title {
    font-weight: bold;
    color: var(--accent);
}

.skill-section .skills{
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
}

.skill-section .skills li::before {
    content: '\2714';
    margin-right: 5px;
}

.skill-section .skills li {
    list-style-type :none;
    padding: 3px 0;
}

/* Work Section */
.work {
    padding-top: 15vh;
    text-align: center;
}
.work .work-lead {
    font-style: italic;
    font-size: 1.25rem;
    font-weight: normal;
}

.portfolio-container {
    position: relative;
    width: 70%;
    margin: 50px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.item{
    width: 30%;
    border-radius: 5px;
    overflow: hidden;
    margin: 2em auto;
    box-shadow: 0 0px 3px rgba(0,0,0,0.25);
    transition: box-shadow .25s ease-out;
}

.item:hover {
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.25); 
}

.item img {
    width: 100%;
    text-align: center;
    display: block;
}

.item-content{
    background: white;
    padding: 1.5rem;
    text-align: left;
}

.item-content div {
    margin-top: 2rem;
    text-align: right;
}
.card-action{
    color: var(--accent);
    text-decoration: none;
    padding: .25rem .5rem;
    border: 1px solid white;
    transition: border .2s ease-out, background-color .2s ease-out;
}

.card-action:hover {
    border: 1px solid var(--accent);
}

.card-action:focus{
    background-color: rgba(73, 166, 112, .25);
}

/* Contact Section */
.content {
    padding: 0 1em;
}
.contact .content {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    background-color: var(--accent);
    background-image: linear-gradient(var(--accent), hsl(145, 49%, 50%));
}

.contact .content h1 {
    padding-top: 150px;
    color: var(--bg);
    text-align: center;
    font-size: 1.35em;
}

.contact .content .icon-row {
    padding-top: 1em;
    text-align: center;
}

.contact .content .icon-row a {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    transform: scale(0.9);
}

.contact .content .icon-row .icon {
    width: 60%;
    fill: var(--bg);
    transition: fill .2s ease-in-out;
}

.contact .content .icon-row .icon:hover {
    fill: var(--main);
}

.contact .content p {
    padding-top: 100px;
    padding-bottom: 1em;
    color: var(--bg);
    text-align: center;
}

.contact .content p>* {
    color: var(--bg);
}

@media only screen and (max-width: 768px) {

    /* Navigation */
    .navbar {
        height: 70px;
        top: -3px; /* 0px, minus 3px to accomodate the box-shadow */
    }

    .nav {
        max-height: 0;
        overflow: hidden;
        text-align: center;
        background: white;
        width: 100%;
        padding: 0;
        transition: max-height 0.7s ease-out, padding 0.7s ease-out ;

        position: absolute;
        top: 70px;
        left: 0;
    }

    .nav.activeMenu {
        max-height: 700px;
        padding: .5em;
    }

    .nav .nav-link {
        display: block;
        font-size: 2em;
        margin: 2.5em;
    }

    /* Hamburger Icon (with animation) */
    .navbar .hamburger {
        display: inline;
    }

    .hamburger .bars{
        background: var(--main);
        display: block;
        width: 2.5em;
        height: .25em;
        margin: 0.5em;
        text-align: center;
        transition: width .3s ease-out, transform .5s ease-out;
    }

    .navbar .hamburger.responsive :first-child{transform: rotate(45deg) translate(7px, 6px);}
    .navbar .hamburger.responsive :nth-child(2){width: 0;}
    .navbar .hamburger.responsive :last-child{transform: rotate(-45deg) translate(10px, -10px);}

    /* Splash Section */
    .splash {
        overflow: hidden;
        padding-top: 70px;
        
        /*Accomodate various mobile sizes*/
        min-height: 812px; /*section is at least iphone-x size*/
        height: auto; /*expand if needed*/

        flex-direction: column;
        justify-content: flex-start ;
    }

    .splash .container {
        padding-top: 7%;
        text-align: center;
        width: 70%;
    }

    .splash .splash-text {
        line-height: 48px;
    }

    .splash .cta-btn {
        font-size: 1.5em;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 70%;
    }

    .splash .cta-btn.btn-primary {
        margin-top: 300px;
    }

    .splash .cta-btn.btn-secondary {
        margin: 380px 0;
    }

    .splash .avatar {
        margin-top: 0;
        position: relative;
        left: 7%;
    }

    /* About Section */
    .about {
        padding: 1em;
        display: block;
    }

    .about::after {
        display: none;
    }

    .about .about-text {
        width: 70%;
    }

    .about .skill-container {
        flex-direction: column;
    }

    /*Work Section*/
    .portfolio-container {
        flex-direction: column;
        margin-top: 10px;
    }

    .item {
        width: 90%;
    }
}