%border {
    outline: 1px dashed #000;
}

[data-debug]{
    @extend %border;
}

$parent: false !default;
$dir: 'ltr' !default;
$class: false !default;
$grayscale: false !default;

@if $parent {
    .#{$parent} > * {
        @extend %border;
    }
}

@if $class {
    .#{$class} {
        @extend %border;
    }
}

@if $dir == 'rtl' {
    :root {
        direction: rtl;
    }
}

@if $grayscale {
    html {
        filter: #{'grayscale()'};
    }
}
