@use 'theme/color' as color;

// Hyperlinks
:any-link {
    color: currentColor;
    text-decoration-color: color.$primary;
    text-decoration-thickness: 2px;

    &:hover {
        color: color.$primary;
    }
}

