@use 'theme/type' as type;
@use 'theme/color' as color;

html {
    font-family: type.font-family("body");
    font-size: 112.5%;
    color: color.$text;
    -webkit-font-smoothing: antialiased;
}

:is(h1, h2, h3, h4) {
    font-family: type.font-family("display");
	font-weight: 400;
	line-height: 1.3;
}

/* TODO revisit font-sizing for headers */
h1, %title { font-size: 2.665rem; }
h2, %heading { font-size: 2rem; }
h3, %subheading { font-size: 1.556rem; }
h4, %byline { font-size: 1.223rem; }
small, %small { font-size: 0.778rem; }

p {
    line-height: 1.45; // TODO for a11y, ideal line-height is 1.5
    margin: 8px 0;
}
