//----------
// Sitewide Header (aka. navbar)
//----------

@use '../abstracts/theme';

.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: theme.space('medium');

    padding-block: theme.space('medium');
}

.site-logo {
    line-height: 0;
    flex-basis: 0;
    flex-grow: 999;
}

.navigation {
    flex-grow: 1;
}

.navigation ul {
    display: flex;
    gap: theme.space('medium');

    :any-link {
        color: currentColor;
        text-decoration: none;
    }
}
