//----------
// Sitewide Header (aka. navbar)
//----------

@use '../abstracts/theme';

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: theme.space('small');
}

// .site-logo {}

.link-nav ul {
    display: flex;
    gap: theme.space('medium');
}
