@use '../abstracts/theme';

body {
    // This scales with the viewport; see <https://piccalil.li/quick-tip/use-css-clamp-to-create-a-more-flexible-wrapper-utility/>
    padding-inline: theme.space('small');
    margin-inline: auto;
    width: clamp(16rem, 90vw, 70rem);
}

// Use `.page` instead of `body`, b/c this is a layout component
// and doesn't *need* to be the `body`.
.page {
    display: flex;
    flex-direction: column;
    min-block-size: 100vh;
}

.page > .page-content {
    flex: auto;
}
