:root {
  --accent: #266441;
  --font-display: 700 1em / 1.15 'Work Sans', system-ui;
  --font-caption: 500 1em / 1.15 'Work Sans', system-ui;
  --font-body: 400 1em / 1.3 'Work Sans', system-ui;
}

html {
  font-size: 112.5%;
}

body {
  font: var(--font-body);
}

h1, h2, h3, h4 {
  font: var(--font-display);
}

h1 {
  font-size: 2.2rem;
}

:any-link {
  color: currentColor;
}

:any-link:hover, :any-link:active {
  text-decoration: none;
}

blockquote > p {
  font-size: 21px;
}
blockquote > figcaption {
  color: var(--accent);
  font-variant-caps: small-caps;
}

blockquote > p:before { content: open-quote }
blockquote > p:last-of-type:after { content: close-quote }

.site-content .hero {
  margin: 0 auto;
  width: clamp(320px, 70vw, 66ch);
  /* width: min(80vw, 70vh); */
  /* padding-top: 96px; */
  padding-top: 48px;
}

article {
  margin: 0 auto;
  /* max-width: 48vw; */
  width: clamp(320px, 70vw, 66ch);
  padding-top: 96px;
}

article > header {
  font: var(--font-caption);
}

article > header :not(h1) {
  color: #444;
}

article .e-content {
}

.site-header {
  padding: 16px 48px 8px 48px;
}

.site-header > nav {
  float: right;
  display: inline-flex;
  gap: 8px;
}

main.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.site-footer {
  text-align: center;
  /* font: var(--font-display); */
  font-size: 0.8rem;
  /* font-weight: 700; */
}
