@use '../helpers' as *;

html {
  scroll-behavior: smooth;
}

:any-link {
  color: currentColor;
  text-decoration-color: $c-accent;
  text-decoration-thickness: 2px;

  &:hover {
    color: $c-accent;
  }

  &:hover .icon {
    opacity: 0.8;
  }
}
