[class*=btn] {
    cursor: pointer;
    border: none;
    background-color: $clr-accent;
    color: white;
    border-radius: 4px;
    padding: 8px 12px;

    &:hover, &:focus {
        opacity: 0.9;
    }
}

.input--text {
    padding: 6px 8px 6px 6px;
}

.form {
    text-align: center;

    border-radius: 2px;
    padding: 2px 4px;
    margin: 24px 0;
    background-color: #efefef;
    border: 1px solid #dddddd;
}
