button, a[class*=btn] {
    cursor: pointer;
    border: none;
    background-color: $clr-accent;
    color: white;
    border-radius: 4px;
    padding: 8px 12px;

    &:hover {
      color: $clr-black--light;
    }
}

.input--text {
    padding: 6px 8px 6px 6px;
}

.form {
    text-align: center;

    border-radius: 4px;
    padding: 2px 4px;
    margin: 24px 0;
    background-color: $clr-white--dark;
    border: 2px solid $clr-grey--light;
}
