body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 24px;
}

main:not(.default) {
  flex-grow: 1;
  width: calc(100vw / 2.15);
  margin: 24px auto 0 auto;
  min-width: 328px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.home section.page-center {
  // 100vh, minus height of navbar, minus margin on main
  height: calc(100vh - 63px - 24px);

  
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;

  h1 {
    margin-bottom: 0;
  }
}

hr {
  width: 100%;
}

.home img {
  border-radius: 2px;
  box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.25);
}

.text-center {
  text-align: center;
}

.page-footer {
  text-align: center;
  display: inline-block;
  margin: 8px auto;
  border-top: 1px solid #999;
}

/* Code */
var, kbd, code {
  font-family: $ff-mono;
  font-size: 90%;
  color: #d43939;
  background-color: #f3f3f6;
  padding: 2px 4px;
  border-radius: 2px;
}

pre {
  line-height: normal;
}

pre.hljs code {
  color: inherit;
  background-color: transparent;
  padding: inherit;
  border-radius: 0;
  line-height: normal;
}

/* Blockquote */
blockquote {
  display: inline-block;
  background-color: #f2f2f2;
  border-left: 8px solid $clr-accent;
  padding: 8px 16px 8px 8px;
  margin-left: 20px;

  > p {
    margin: initial;
  }
}

/* Lists */
ul > li p {
  margin: auto;
}

// Screen Reader Only (from https://scottohara.me)
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

// Post
.post {
  &-header {
    margin: 2.5em 0 2em 0;
  }

  &-title {
    margin-bottom: 0;
  }

  &-details {
    color: #444;
    margin: 0.5em 0 0 0;
  }

  &-tags {
    margin: 0;
  }
}

// Blog
.blog-title {
  margin-bottom: 0;
}

.blog-tag {
  margin-top: 0;
  color: #444;

  a {
    color: currentColor;
  }
}
.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-item {
  margin: 1.75em 0;

  &__title a {
    font-size: $fs-h3;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  &__details {
    color: #444 !important;

    a {
      color: currentColor !important;
    }
  }

  &__desc {
    margin-top: 4px;
  }
}


.wm-mentions {
  margin: 12px 0;
  padding: 0;
}

.wm-mention {
  margin: 36px 0;
  list-style: none;
}

.wm-mentioner__img {
  border-radius: 6px;
  width: 32px;
  height: 32px;
  margin: 0 12px 4px 0;
  float: left;
}

.wm-mentioner {
  display: inline-block;
}

.wm-mention__time {
  color: #444;
}

.reading-list {
  list-style: none;
  box-sizing: border-box;
  margin: 72px 0 0 0;
  padding: 0;
}

.book {
    margin: 36px 0;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 75px 1fr;
    column-gap: 12px;

  &-img {
    grid-row: 1/-1;
    width: 100%;
  }

  p {
    margin: 0;
  }

  p:last-of-type {
    margin-top: 8px;
  }
}