@use 'helpers' as *;

hr {
  background-color: $c-grey;
  border: 0;
  height: 2px;
  width: 80%;
}

.section-header {
  display: inline-block;

  &::before {
    background-color: $c-grey;
    content: '';
    display: block;
    height: 2px;
    width: calc(100% - 16px);
  }
}

.text-center {
  text-align: center;
}

/* Lists */
ul > li p {
  margin: auto;
}

// Screen Reader Only (from https://scottohara.me)
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
