body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 24px;
}

main:not(.default) {
  flex-grow: 1;
  width: 66ch;
  max-width: calc(100% - 48px); /* 100% width with 24px gutters */
  min-width: 328px;
  margin: 48px auto 0 auto;
}

main.home {
  margin-top: 96px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: min-content auto;
  column-gap: 24px;

  picture {
    grid-row: 1/3;
    align-self: center;
  }

  img {
      border-radius: 2px;
      box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.25);
  }

  .home__title {
      margin: 0;
      align-self: flex-end;
  }

  .home__lead {
      margin: 0;
  }

  .home__desc {
      grid-column: 1/3;
      align-self: start;
  }


  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;

    .home__title, .home__lead {
      align-self: center;
    }
    .home__desc {
      text-align: center;
    }
  }
}

hr {
  border: none;
  height: 2px;
  width: 80%;
  background-color: $clr-grey;
}

.section-header{
  display: inline-block;

  &::before {
    content: "";
    display: block;
    height: 2px;
    width: calc(100% - 16px);
    background-color: $clr-grey;
  }
}

.text-center {
  text-align: center;
}

.page-footer {
  text-align: center;
  display: inline-block;
  margin: 8px auto;
  border-top: 1px solid $clr-grey;
}

/* Code */
var, code {
  font-family: $ff-mono;
  font-size: 90%;
  color: $clr-red;
  background-color: $clr-white--dark;
  padding: 2px 4px;
  border-radius: 2px;
}

kbd {
    font-family: $ff-mono;
    font-size: 90%;
    background-color: $clr-white--dark;
    padding: 4px 8px;
    border-radius: 999px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.25);
}

pre {
  line-height: normal;
}

pre.hljs {
    border-radius: 8px;
}

pre.hljs code {
  color: inherit;
  background-color: transparent;
  padding: 0 8px;
  border-radius: 0;
  line-height: normal;
  display: inline-block;
}

/* Blockquote */
blockquote {
  display: inline-block;
  background-color: #f2f2f2;
  border-left: 8px solid $clr-accent;
  padding: 8px 16px 8px 8px;
  margin-left: 20px;

  > p {
    margin: initial;
  }
}

/* Chips */
.chip {
    background-color: $clr-grey--light;
    font-size: 90%;
    padding: 2px 8px;
    border-radius: 999px;
    color: $clr-grey--dark !important;
    text-decoration: none;

    &:hover {
        background-color: $clr-accent--extra-light;
        color: $clr-accent--extra-dark !important;
    }

    &:focus {
        outline: none !important;
        box-shadow: inset 0 0 0 1px currentColor;
    }
}

/* Lists */
ul > li p {
  margin: auto;
}

// Screen Reader Only (from https://scottohara.me)
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
