html {
    scroll-behavior: smooth;
}

a[href]:not([class*=btn]) {
    color: currentColor;
    text-decoration-color: $clr-accent;
    text-decoration-thickness: 2px;

    &:hover {
        color: $clr-accent;
    }

    &:focus {
        outline: 2px solid $clr-accent;
        outline-offset: 2px;
    }

    &[rel*=external]::after {
        content: "↗";
        color: $clr-accent;
        font-weight: 700;
    }

    &.icon-link svg {
        fill: $clr-accent;
        width: 1em;
        height: 1em;
    }
}
