// Single post
.post {
    &__header {
        margin: 2.5em 0 2em 0;
    }

    &__details {
        color: $clr-grey--dark;
    }
}

// Posts feed
.posts-title {
    margin-bottom: 0;
}

.posts-tag {
    // For text which shows when feed is filtered
    color: $clr-grey--dark;
}

.posts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post-item {
    margin: 1.75em 0;

    &__title {
        font-size: $fs-h3;
    }

    &__details {
        color: $clr-grey--dark;
    }

    &__desc {
        margin-top: 8px;
    }
}
