/* Typography */
html {
    font-size: 112.5%; /* 18px */
    font-family: $ff-sans;
}


body {
    line-height: 1.65;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1.05rem;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5, .text--larger {font-size: 1.25em;}

small, .text--small {font-size: 0.8em;}
