/* Typography */
html {
  font-size: 112.5%; /* 18px */

  @media only screen and (max-width: 768px) {
    font-size: 100%;
  }
}


body {
  line-height: 1.75;
  font-family: $ff-sans;
  color: $clr-black;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-weight: 400;
    line-height: 1.3;
    font-family: $ff-serif;
}

h1 {
  margin-top: 0;
  font-size: $fs-h1;
}

h2 {font-size: $fs-h2}

h3 {font-size: $fs-h3}

h4 {font-size: $fs-h4}

h5, .text--larger {font-size: $fs-h5}

small, .text--small {font-size: $fs-small}
