/* Typography */
html {
    font-size: 100%;
    font-family: $ff-sans;
}


body {
    font-weight: 400;
    line-height: 1.65;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    line-height: 1.15;
}

h1 {font-size: 2.488em;}

h2 {font-size: 2.074em;}

h3 {font-size: 1.728em;}

h4 {font-size: $fs-h4;}

h5 {font-size: 1.2em;}

small {font-size: $fs-small}

.larger {
    font-size: 1.2em;
}