$clr-accent--extra-light: mix($clr-accent, white, 35);
$clr-accent: #44835c;
$clr-accent--extra-dark: mix($clr-accent, black, 65);

$clr-blue: #2D9CDB;

$clr-red: #c92c2c;

$clr-black: #000;
$clr-black--light: #080808;

$clr-white: #fff;
$clr-white--dark: #f3f3f6;

$clr-grey--light:#e1e1e1;
$clr-grey: #9c9c9d;
$clr-grey--dark: #444;

$fs-h3: 1.953em;
$fs-h4: 1.563em;
$fs-h5: 1.25em;
$fs-small: 0.8em;

$ff-sans: 'Inter', Arial, Helvetica, sans-serif;
$ff-mono: "Source Code Pro", Monaco, Consolas, "Courier New", monospace;
