$clr-accent--light: #6FCF97;
$clr-accent: #5E9876;
$clr-accent--dark: #386C4E;
// $clr-blue: #2D9CDB;
$clr-black: #000;
$clr-grey--dark: #444;

$fs-h3: 1.728em;
$fs-h4: 1.44em;
$fs-h5: 1.2em;
$fs-small: 0.833em;

$ff-sans: 'Inter', "Segoe UI", Arial, Helvetica, sans-serif;
$ff-mono: "Source Code Pro", Monaco, Consolas, "Courier New", monospace;