---
layout: default
title: Writing
---

<header>
    {% anchor %}
    <h1 class="blog-title">Writing</h1>
    {% endanchor %}
    <p class="blog-tag" id="pageTag" hidden aria-hidden="true">
        <small>
            <a href="{{page.url}}" role="button">(clear)</a>
        </small>
    </p>
    <p><a href="/feed.xml">RSS</a></p>
</header>

<ul class="post-list" id="postList">
    {% for post in collections.posts reversed %}
    <li class="post-item" data-tags={{ post.data.tags | default: "[]"}}>
        <p class="post-item__title"><a href="{{post.url}}">{{post.data.title}}</a></p>
        <p class="post-item__details">Posted {{ post.date | date: "%B %d, %Y"}}</p>
        {% if post.data.tags %}
            <p class="post-item__tags">
                Tagged with
                {% for tag in post.data.tags %}
                    <a href="/blog?filter={{tag}}" role="button"><strong role="img">#</strong>{{tag}}</a>
                {% endfor %}
            </p>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<script>
    const posts = [...document.querySelectorAll("#postList li")];
    const tag = location.search.slice(location.search.indexOf("=") + 1);

    if(tag) {
        let postsNoTag = posts.filter(l => JSON.parse(l.dataset.tags).includes(tag) === false);
        let postCount = posts.length - postsNoTag.length;

        let pageTag = document.getElementById("pageTag");
        pageTag.prepend(`${postCount} ${(postCount) > 1 ? "posts" : "post"} tagged with ${tag}`);
        pageTag.removeAttribute("hidden");
        pageTag.setAttribute("aria-hidden", false);

        postsNoTag.forEach(p => {
            p.setAttribute("hidden", true);
            p.setAttribute("aria-hidden", true);
        });
    }
</script>