<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.njk' %}
</head>
<body class="{{ class("page", body_class) }}">

    <header class="site-header">
        <a href="/" rel="home" class="site-logo">
            <img src="{{site.logo}}" alt="Home" height="40" />
        </a>
        <nav aria-label="Primary Navigation" class="navigation">
            <ul role="list">
                <li role="listitem"><a href="/me">Me</a></li>
                <li role="listitem"><a href="/c/blog">Articles</a></li>
                <li role="listitem"><a href="/c/micro">Microblog</a></li>
                <li role="listitem"><a href="/more">More Links</a></li>
            </ul>
        </nav>
    </header>

    <main class="page-content content" id="top" tabindex="-1">
        {{ content | safe}}
    </main>

    <footer class="site-footer">
        <p class="h-card"><small>Copyright 2018-2022 <a href={{site.base_url}} rel="me" class="u-url p-name">{{site.author.name}}</a></small> | <a href="/contact">Contact Me</a></p>

        {# microsub #}
        <link rel="microsub" href="https://aperture.p3k.io/microsub/680" />

        {# Indieauth #}

        <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
        <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />

        <link href="mailto:binyamingreen@protonmail.com" rel="me" />
        <link href="https://github.com/binyamin" rel="me" />
        <link href="https://mas.to/@binyamin" rel="me" />
    </footer>
    {% include 'metrical.html' %}
</body>
</html>
