<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.njk' %}
</head>
<body class="site-wrapper">
    <header class="site-header">
        <a href="/" class="site-title">
            <img
            src="/assets/logo.svg"
            alt="Home"
            width="48"
            height="48"
            />
        </a>
        <nav class="site-nav">
            <ul>
                <li><a class="site-nav__link" href="/me">Me</a></li>
                <li><a class="site-nav__link" href="/c/blog">Articles</a></li>
                <li><a class="site-nav__link" href="/c/micro">Microblog</a></li>
                <li><a class="site-nav__link" href="/more">More Links</a></li>
            </ul>
        </nav>
    </header>

    <main class="{{main_class}} site-content" id="top">
        {{ content |safe}}
    </main>

    <footer class="site-footer h-card">
        <small>Copyright 2018-2021 <a href={{meta.baseUrl}} rel="me" class="u-url p-name site-footer__name">{{meta.author.name}}</a> | <a href="/contact">Contact Me</a></small>

        <!-- microsub -->
        <link rel="microsub" href="https://aperture.p3k.io/microsub/680">

        <!-- Indieauth -->

        <link rel="authorization_endpoint" href="https://indieauth.com/auth">
        <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

        <link href="mailto:binyamingreen@protonmail.com" rel="me"/>
        <link href="https://github.com/binyamin" rel="me"/>
        <link href="https://mas.to/@binyamin" rel="me"/>
    </footer>
    {% include 'metrical.html' %}
</body>
</html>
