---
layout: default
main_class: post
---

<article class="h-entry" datetime="{{date | _date: 'iso'}}" aria-labelledby="postTitle">
    <header class="post-header">
        <h1 class="post-header__title p-name" id="postTitle">{{ title }}</h1>
        <p class="post-header__details">Published on
            <a href={{page.url}} class="u-url">
                <time class="dt-published" datetime="{{ date | _date: 'iso'}}">{{ date | date_est: false }}</time>
            </a>
            {% if category == 'blog' %}
            <a href="/c/blog" class="p-category" hidden rel="tag">article</a>
            {% elsif category == 'micro' %}
            <a href="/c/micro" class="p-category" hidden rel="tag">microblog</a>
            {% endif %}
        </p>
        <address class="h-card p-author" hidden>
            <a href="https://binyam.in" class="p-name u-url" rel="author">Binyamin Green</a>
        </address>
    </header>
    <section class="e-content post-content">
        {{ content }}
    </section>

    {% include 'webmentions.html' %}

    <a href="#top" class="sr-only">Top</a>
</article>
<script async src="/js/twitter.js"></script>
