$primary: #44835c;
$primary--text: #3d7653;

$text: #0a0b0d;
$text-alt: #555;
$text-lighter-2: #9c9c9d;

$surface: #fff;
$surface-alt: #f3f3f6;
$surface-darker: #9c9c9d;

$info: #2e9cdc;
$success: #26a69a;
$danger: #c92c2c;
$warning: #eba656;
