$sizes: (
  2.488rem,
  2.074rem,
  1.728rem,
  1.44rem,
  1.2rem,
  0.833rem,
);

$display: 'Work Sans', Ubuntu, Arial, Helvetica, sans-serif;
$body: 'Roboto', Ubuntu, Arial, Helvetica, sans-serif;
$code: 'Source Code Pro', Monaco, Consolas, 'Courier New', monospace;

@function size($n) {
  @return nth($sizes, $n);
}
