@use '../helpers' as *;

blockquote {
  background-color: $c-white--dark;
  border-left: 8px solid $c-accent;
  display: inline-block;
  margin-left: 20px;
  padding: 8px 16px 8px 8px;

  > p {
    margin: initial;
  }
}
