@use '../helpers' as *;
@use 'sass:color';

$alerts: (
  'info': $c-info,
  'warning': $c-warning,
  'danger': $c-danger,
  'success': $c-success
);

@function bg($hex) {
  @return color.mix($hex, #fff, 10%);
}

.callout {
  background-color: bg($c-grey);
  border-left: 4px solid $c-grey;
  margin: 16px 0;
  padding: 1em;

  p { margin: 0; }
}

.callout__icon {
  background-color: #fff;
  border: 4px solid #fff;
  clip-path: circle(); // not border-radius, since that cuts too close
  height: 24px;
  position: absolute;

  // Calculation: padding-left & border-left of parent, and 1/2 content
  transform: translateX(calc(-1em - 2px - 50%));

  width: 24px;
}

@each $name, $hex in $alerts {
  .callout--#{$name} {
    background-color: bg($hex);
    border-color: $hex;
  }
}
