<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="assets/favicon.ico" type="favicon/icon">
	<title>Binyamin Green | Student & Web Developer</title>
	<link rel="stylesheet" href="css/style.min.css">
	<script defer src="js/main.min.js"></script>
	<script defer src="js/calendar.min.js"></script>
</head>
<body>
	<header class="navbar" id="navbar">
		<a href="#splash" class="logo-link">
			<img src="assets/logo.svg" alt="Binyamin Green" class="logo">
		</a>
		<nav class="nav">
			<a href="./#splash" class="nav-link current">Home</a>
			<a href="./#about" class="nav-link">About</a>
			<a href="./#work" class="nav-link">Work</a>
			<a href="./#contact" class="nav-link">Contact</a>
		</nav>
		<div class="hamburger">
			<span class="bars"></span>
			<span class="bars"></span>
			<span class="bars"></span>
		</div>
	</header>
	<main class="splash cal">
        <h1 class="cal__title">Calendar</h1>
        <p class="cal__lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, repellendus reprehenderit officia quos perferendis natus mollitia quod magni velit! Harum dolores vero assumenda suscipit reprehenderit voluptatibus ex sit officiis quas?</p>
        <div class="cal__copy">
            <button type="button" class="copy__btn" id="copyBtn">Copy Link</button>
            <p class="copy__link" id="copyLink">https://binyam.in/cal.ics</p>
        </div>
        <button type="button" id="addEvent" class="cal__btn">Add Event</button>
        <form class="cal-form" method="POST" action="/calendar/add" hidden>
            <p class="cal-form__title">
                <label for="evTitle">Title</label>
                <input type="text" name="evTitle" id="evTitle" required>
            </p>
            <p class="cal-form__notes">
                <label for="evDesc">Notes</label>
                <textarea name="evDesc" id="evDesc"></textarea>
            </p>
            <div>
                <p class="cal-form__all-day">
                    <input type="checkbox" role="checkbox" name="evAllday" id="evAllday">
                    <label for="evAllday">All Day?</label>
                </p>
                <p class="cal-form__yearly">
                    <input type="checkbox" role="checkbox" name="evYearly" id="evYearly">
                    <label for="evYearly">Yearly?</label>
                </p>
                <p class="cal-form__date--start">
                    <input type="date" name="evStartDate" id="evStartDate" required>
                    <label for="evStartDate">Start Date</label>
                </p>
                <p class="cal-form__date--end">
                    <input type="date" name="evEndDate" id="evEndDate" required>
                    <label for="evEndDate">End Date</label>
                </p>
                <p class="cal-form__time--start">
                    <input type="time" name="evStartTime" id="evStartTime">
                    <label for="evStartTime">Start Time</label>
                </p>
                <p class="cal-form__time--end">
                    <input type="time" name="evEndTime" id="evEndTime">
                    <label for="evEndTime">End Time</label>
                </p>
            </div>
            <p class="cal-form__loc">
                <label for="evLoc">Location</label>
                <input type="text" name="evLoc" id="evLoc">
            </p>
            <p class="cal-form__category">
                <label for="evType">Category</label>
                <select name="evType" id="evType" required>
                    <option disabled selected value="default">Choose a Category</option>
                    <option value="bday">Birthday</option>
                    <option value="yzt">Yahrtzeit</option>
                    <option value="trip">Trip</option>
                    <option value="celeb">Celebration</option>
                    <option value="other">Other</option>
                </select>
            </p>
            <div class="cal-form__btn-cont">
                <button id="cancelBtn" type="button" class="cal-form__cancel cal-form__btn">Cancel</button>
                <button type="submit" class="cal-form__submit cal-form__btn">Submit</button>
            </div>
        </form>
	</main>
	<footer class="contact">
		<main class="content">
			<p>© Copyright <span class="copy-date"></span> by Binyamin Aron Green</p>
		</main>
	</footer>
</body>
</html>