@use '../helpers' as *;

.home {
  margin-top: 96px;
  text-align: center;

  img {
    border-radius: 2px;
    box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.25);
  }

  &__title {
    margin: 0;
  }

  &__lead {
    font-size: $f-byline;
  }
}
