@use '../helpers' as *;

.posts-header {
  margin-bottom: 32px;
}

.posts-title {
  margin-bottom: 0;
}

.posts-lead {
  margin-bottom: 4px;
}

.posts-details {
  color: $c-grey--dark;
  fill: $c-grey--dark;
  margin: 0;

  :any-link {
    text-decoration-color: currentColor;
  }
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-item {
  margin-bottom: 24px;

  &__title {
    font-size: f-size(5);
  }

  &__details {
    color: $c-grey--dark;
    margin-bottom: 8px;
  }
}
