@use '../helpers' as *;

.posts-title {
  margin-bottom: 0;
}

.posts-lead {
  margin-bottom: 4px;
}

.posts-details {
  color: $c-grey--dark;
  fill: $c-grey--dark;
  margin-top: 0;
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-item {
  margin: 32px 0;

  &__title {
    font-size: f-size(5);
  }

  &__details {
    color: $c-grey--dark;
  }

  &__desc {
    margin-top: 8px;
  }
}
