<footer class="page-footer" id="contact">
    <p>If you need something, drop me a note...</p>
    <div class="social-wrapper">
        <a href="mailto:binyaminagreen@gmail.com?subject=Website Referral">
            <i class="bx bxs-envelope icon"></i>
        </a>
        <a href="https://www.github.com/b3u">
            <i class="bx bxl-github icon"></i>
        </a>
        <a href="https://twitter.com/BinyaminGreen">
            <i class="bx bxl-twitter icon"></i>
        </a>
        <a href="https://dev.to/b3u">
            <img src="/assets/img/devto.svg" class="icon" alt="Binyamin Aron Green's DEV Profile" height="32" width="32">
        </a>
    </div>
    <p>Copyright © 2018-2019 Binyamin Aron Green</p>
</footer>