---
---

<footer>
    <section>
    <ul>
        {% for page in site.pages %}
            <a href={{ page.url | relative_url }}>{{ page.name }}</a>
        {% endfor %}
        </ul>
    </section>
    <section>
        <img src="./assets/profile.JPG" alt="A picture of me">
        <p>My name is Binyamin Green. I'm 20 years old, and I'm a college student at CCBC. I moonlight as a web developer. In my free time, I enjoy computer programming, reading and playing music.</p>
    </section>
    <p>© Copyright <span class="copy"></span> by Binyamin Aron Green</p>
</footer>