<header class="nav">
    <div class="nav-left brand">
        <img src="/assets/logo.svg" alt="Binyamin Green's Logo">
    </div>
    <nav class="nav-right">
        <a href="/" class="{% if page.url == '/' %}active{% endif %}">Home</a>
        <a href="/blog" class="{% if page.url == '/blog.html' %}active{% endif %}">Blog</a>
        <a href="/contact" class="{% if page.url == '/contact.html' %}active{% endif %}">Contact</a>
        <details class="custom-dropdown">
            <summary>Links</summary>
            <div class="card">
                <a href="https://dev.to/b3u" rel="external noreferrer">DevTo</a>
                <a href="https://github.com/b3u" rel="external noreferrer">GitHub</a>
                <a href="https://linkedin.com/in/b3u" rel="external noreferrer">LinkedIn</a>
            </div>
        </details>
    </nav>
</header>