<header class="page-header">
    <a href="/">
        <img src="/assets/logo.svg" alt="" class="logo" width="48" height="48">
    </a>
    <nav class="page-header__links-wrapper">
        <ul>
            <li class="page-header__link">
                <a href="https://github.com/b3u" rel="external noreferrer" aria-label="Link to my GitHub profile">
                    {% include icons/bxl-github.svg %}
                </a>
            </li>
            <li class="page-header__link">
                <a href="https://www.facebook.com/binyaminagreen" rel="external noreferrer" aria-label="Link to my Facebook profile">
                    {% include icons/bxl-facebook-square.svg %}
                </a>
            </li>
            <li class="page-header__link">
                <a href="https://linkedin.com/in/b3u" rel="external noreferrer" aria-label="Link to my Linkedin profile">
                    {% include icons/bxl-linkedin-square.svg %}
                </a>
            </li>
        </ul>
    </nav>
</header>