{% comment %} Meta Title {% endcomment %}
{% assign metatitle = site.title %}

{% if page.collection == 'posts' %}
    {% assign metatitle = page.title %}
{% elsif page.title %}
    {% assign metatitle = metatitle | prepend: " - " | prepend: page.title %}
{% endif %}
    
{% comment %} Meta Description {% endcomment %}
{% assign metadesc = site.desc %}
    
{% if page.collection == 'posts' %}
    {% assign metadesc = page.excerpt  | strip_html | strip_newlines %}
    {% if page.desc %}
        {% assign metadesc = page.desc %}
    {% endif %}
{% endif %}
    
{% comment %}Meta Og Image{% endcomment %}
{% assign metaimg = '/assets/favicon.ico' %}

{% if page.collection == 'posts' %}
    {% assign metaimg = page.thumbnail %}
{% endif %}

{% comment %} Meta Og Type {% endcomment %}
{% assign type = 'website' %}
{% if page.collection == 'posts' %}
    {% assign type = 'article' %}
{% endif%}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" href="/assets/favicon.ico" type="favicon/icon">

<title>{{- metatitle -}}</title>

<meta name="author" content="Binyamin Aron Green">
<meta name="description" content="{{- metadesc -}}">
<meta name="keywords" content="programmer, web developer, developer, websites, front-end, full-stack, back-end, web designer, html, html5, css, css3, javascript, react, node, express">
<meta name="theme-color" content="#49a670">

<meta property="og:title" content="{{- metatitle -}}">
<meta property="og:type" content={{type}}>
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:image" content="{{- metaimg -}}">
<meta property="og:description" content="{{- metadesc -}}">

<link rel="canonical" href="{{ page.url | absolute_url }}">

<link rel="stylesheet" href="/assets/css/vendor/dracula.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,400i&display=swap">
<link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/assets/css/style.css">
<script defer src="/assets/js/main.js"></script>