<header class="navbar" id="navbar">
    <a href="/" class="logo-link">
        <img src="/assets/logo.svg" alt="" class="logo">
    </a>
    <nav class="nav">
        <a href="/" class="nav-link">Home</a>
        <a href="/about" class="nav-link">About</a>
        <a href="/blog" class="nav-link">Blog</a>
        <a href="#contact" class="nav-link">Contact</a>
    </nav>
    <div class="hamburger">
        <span class="bars"></span>
        <span class="bars"></span>
        <span class="bars"></span>
    </div>
</header>