@use '../helpers' as *;

/* Backlinks */
.bl {
  &__title {
    font-weight: 700;
    margin: 8px 0;
  }

  &__note {
    color: $c-grey--dark;
    font-style: italic;
    margin: 0;
  }

  &__links {
    margin-top: 0;
  }
}
