@use '../helpers' as *;

.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    font-size: f-size(5);
    margin: 0 12px;
  }
}

.burger {
  background-color: transparent;
  display: none; // Only appear on small screens
  margin: 3.5px 0;
  padding: 3.5px 0;

  &__bar {
    background-color: $c-black;
    border-radius: 999px;
    display: block;
    height: 3px;
    width: 24px;
  }

  &__bar:nth-of-type(2) {
    margin: 4px 0;
  }

  &:hover &__bar {
    background-color: $c-grey;
  }
}

@media only screen and (max-width: $m-small) {
  .burger {
    display: block;
  }

  .menu-wrapper {
    display: none;
  }

  .is-menu-visible {
    display: block;
  }

  .menu-wrapper {
    margin-top: 16px;
    text-align: center;
    width: 100%;
  }
}
