@use '../helpers' as *;

// Webmentions
.wm-title {
  font-family: $f-display;
  font-size: f-size(5);
  margin: 0;

  &::before {
    background-color: $c-accent;
    content: '';
    display: block;
    height: 4px;
    margin-bottom: 4px;
    width: 48px;
  }
}

.wm-summary {
  align-items: baseline;
  display: flex;
}

.wm-likes,
.wm-replies,
.wm-info {
  display: inline-block;
  margin: 0 12px 0 0;
}

.wm-mentions {
  margin: 12px 0;
  padding: 0;
}

.wm-mention {
  list-style: none;
  margin: 36px 0;
}

.wm-mentioner__img {
  border-radius: 4px;
  float: left;
  height: 32px;
  margin: 0 12px 4px 0;
  width: 32px;
}

.wm-mentioner {
  display: inline-block;
}

.wm-mention__time {
  color: $c-grey--dark;
}
