/*
  Contents
  01-Variables.........css custom properties
  02-Base..............raw elements (no classes or ids)
  03-Blocks............grouped and nested sets of elements
  04-Layouts...........blocks grouped in a particular manner
  05-Utils.............misc rulesets

  Ref: https://cssguidelin.es/
*/



/*
  #region
  01-Variables
*/

:root {
  /* --text--lighter-2: #9C9C9D; */
  /* --surface--darker: #9C9C9D; */
}

/* #endregion */


/*
  #region
  02-Base
*/

/* #endregion */


/*
  #region
  03-Blocks
*/

/* Webmentions (container) */

.wm-title {
  margin-bottom: 0;
}

.wm-summary {
  align-items: baseline;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}


/* Webmentions (reply) */

.wm-mentions {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wm-mentioner {
  display: block;
  margin-right: 8px;
  font-weight: 700;
  text-decoration: none;
}

.wm-mentioner__img {
  border-radius: 2px;
  float: left;
  margin-right: 8px;
}

.wm-mention__time {
  color: var(--text--alt);
}

.wm-mention__content {
  margin: 8px 0 24px 0;
}

/* Backlinks (in wiki) */

.bl__title {
  font-weight: 700;
  font-size: var(--font-byline);
  margin-bottom: 0;
}

.bl__note {
  color: var(--text--alt);
  margin-top: 0;
}

/* #endregion */


/*
  #region
  04-Layouts
*/

/* Home page */
.home img {
  border-radius: 4px;
  box-shadow:2px 3px 6px 1px rgba(0,0,0,.14)
}

/* Post feed */
.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts-lead {
  margin-bottom: 8px;
}

.posts-details {
  color: var(--text--alt);
  margin: 0;
}

.posts-details :any-link {
  text-decoration-color: currentColor;
  text-decoration-thickness: 1px;
}

.post-item {
  margin: 32px 0;
}

.post-item__title {
  font-size: var(--font-byline);
  margin-bottom: 0;
}

.post-item__details {
  margin: 0 0 4px 0;
  color: var(--text--alt);
}


/* Post entry */

.post-header__title {
  margin-bottom: 0;
}


/* #endregion */


/*
  #region
  05-Utils
*/

/* Home */
.home {
  margin-top: 15vh;
}

/* for screen-reader-only content (from https://scottohara.me) */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.u-italics {
  font-style: italic;
}

.u-no-italics {
  font-style: normal;
}

.u-bold {
  font-weight: 700;
}

.u-no-bold {
  font-weight: 400;
}

/* #endregion */
