/*
  Contents
  01-Variables.........css custom properties
  02-Base..............raw elements (no classes or ids)
  03-Blocks............grouped and nested sets of elements
  04-Layouts...........blocks grouped in a particular manner
  05-Utils.............misc rulesets

  Ref: https://cssguidelin.es/
*/



/*
  #region
  01-Variables
*/

:root {
  --font-title: 2.665rem;
  --font-heading: 2rem;
  --font-subheading: 1.556rem;
  --font-byline: 1.223rem;
  --font-small: 0.778rem;

  --primary: #44835C;
  --text: #0A0B0D;
  --text--alt: #555;
  /* --text--lighter-2: #9C9C9D; */
  --surface: #FFF;
  --surface--alt: #F3F3F6;
  /* --surface--darker: #9C9C9D; */

  --info: #2e9cdc;
  --success: #26a69a;
  --danger: #c92c2c;
  --warning: #eba656;
}

/* #endregion */


/*
  #region
  02-Base
*/

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
  font-size: 112.5%;
}

@media (max-width: 768px) {
  html {
    font-size: 100%;
  }
}

body {
  color: var(--text);
  margin: 0;
  line-height: 1.45;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: var(--font-title);
}

h2 {
  font-size: var(--font-heading);
}

h3 {
  font-size: var(--font-subheading);
}

small {
  font-size: var(--font-small);
}


/* Links */

:any-link {
  color: currentColor;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 2px;
}

:any-link:hover {
  color: var(--primary);
}


/* Blockquote */

blockquote {
  border-left: 4px solid var(--primary);
  padding-left: 8px;
  margin: 0 0 0 24px;
}


/* Inline Code-like */

pre, var, code {
  font-family: 'Inconsolata', Menlo, Monaco, Consolas, 'Courier New', Courier, monospace;
  line-height: normal;
}

var,
code {
  color: var(--text--alt);
  font-weight: 700;
}


/* Table */

table {
  border-collapse: collapse;
  margin: 16px auto;
}

td, th {
  border-bottom: 1px solid var(--text);
  padding: 2px 8px;
}

th[scope=row] {
  text-align: left;
  font-weight: normal;
  font-style: italic;
}

tbody tr:nth-of-type(2n + 1) {
  background-color: var(--surface--alt);
}


table + figcaption {
  text-align: center;
  font-size: var(--font-small);
  font-style: italic;
}

/* #endregion */


/*
  #region
  03-Blocks
*/


/* Inline icons */

.icon {
  bottom: -3px; /* The extra pixels (see below) should be below the baseline */
  fill: currentColor;
  height: 21px; /* The height of an emoji at font-size 18px */
  position: relative;
}


/* Header Anchor Symbol */

.header-anchor {
  color: transparent;
  text-decoration: none;
  margin-left: 4px;
}

:is(h1,h2,h3,h4,h5,h6):hover .header-anchor,
.header-anchor:focus {
  color: var(--primary);
}


/* Navbar */

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 24px;
  gap: 24px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 4px 16px;
  margin: 2px 0;
}

.menu__link {
  text-decoration: none;
}


/* Page Footer */

footer {
  text-align: center;
  margin: 8px 24px;
}

@media (max-width: 768px) {
  footer {
    text-align: unset;
  }
}

/* Webmentions (container) */

.wm-title {
  margin-bottom: 0;
}

.wm-summary {
  align-items: baseline;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}


/* Webmentions (reply) */

.wm-mentions {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wm-mentioner {
  display: block;
  margin-right: 8px;
  font-weight: 700;
  text-decoration: none;
}

.wm-mentioner__img {
  border-radius: 2px;
  float: left;
  margin-right: 8px;
}

.wm-mention__time {
  color: var(--text--alt);
}

.wm-mention__content {
  margin: 8px 0 24px 0;
}


/* Callout */

.callout {
  --callout-color: currentColor;
  background-color: var(--callout-color);
  background-image: linear-gradient(
    rgba(255,255,255,0.85),
    rgba(255,255,255,0.85)
  );
  border-left: 4px solid var(--callout-color);
  padding: 4px 8px;
}

.callout--info {
  --callout-color: var(--info);
}

.callout--success {
  --callout-color: var(--success);
}

.callout--warning {
  --callout-color: var(--warning);
}

.callout--danger {
  --callout-color: var(--danger);
}


/* heading-lead */

.has-lead {
  margin-bottom: 0;
}

.has-lead + p {
  margin-top: 0;
  color: var(--text--alt);
}


/* Code block */

.code-block {
  border-radius: 8px;
  border: 1px solid #cdcddb;
}

.code-block code {
  color: inherit;
  font-weight: inherit;
}


/* Backlinks (in wiki) */

.bl__title {
  font-weight: 700;
  font-size: var(--font-byline);
  margin-bottom: 0;
}

.bl__note {
  color: var(--text--alt);
  margin-top: 0;
}

/* #endregion */


/*
  #region
  04-Layouts
*/

/* General */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  width: min(70ch, calc(100% - 24px - 24px));
  margin: 0 auto;
}

/* Home page */
.home img {
  border-radius: 4px;
  box-shadow:2px 3px 6px 1px rgba(0,0,0,.14)
}

/* Post feed */
.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts-lead {
  margin-bottom: 8px;
}

.posts-details {
  color: var(--text--alt);
  margin: 0;
}

.posts-details :any-link {
  text-decoration-color: currentColor;
  text-decoration-thickness: 1px;
}

.post-item {
  margin: 32px 0;
}

.post-item__title {
  font-weight: 700;
  margin-bottom: 0;
}

.post-item__details {
  margin: 0 0 4px 0;
  color: var(--text--alt);
}


/* Post entry */

.post-header__title {
  margin-bottom: 0;
}


/* #endregion */


/*
  #region
  05-Utils
*/

/* Home */
.home {
  margin-top: 15vh;
}

/* for screen-reader-only content (from https://scottohara.me) */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* #endregion */
