/* Global */
ul.task-list { list-style-type: none; padding-left: 16px; } // For GFM Tasklist Extension

html{scroll-behavior: smooth}

body {
    padding: 0;
    margin: 0;
    font-family: $ff-sans;
    color: map-get($black, dark);
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Global header */
.navbar {
    background: map-get($white, extra-light);
    width: 100%;
    box-shadow: 0 1px 6px 0 #b4b4b4;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    height: 65px;

    box-sizing: border-box;

    .logo {
        height: 70%;
    }

    .nav-link {
        font-size: 20px;
        margin: 0 16px;
    }

    .hamburger {
        display: none;
    }
}

/* Global Main Content */
main {
    flex-grow: 1;
    padding-bottom: 24px;
}


header:not(.navbar) {
    margin: 24px 0 36px 0;
}

footer {
    margin-top: 12px;
    text-align: center;
}

/* Global Footer */
.page-footer {
    padding-top: 24px; // Account for clip-path
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    background-color: map-get($black, dark);
    color: map-get($white, extra-light);

    .social-wrapper a {
        margin: 0 12px;
        text-decoration: none;
        color: map-get($white, extra-dark) !important;

        .icon {
            font-size: 32px;
        }
            
        &:hover {
            color: map-get($white, dark) !important;
        }
    }
}