@import 'variables';

@import 'global';

@import "elements/code";
@import "elements/blockquote";
@import "elements/rule";
@import "elements/typography";
@import "elements/media";
@import "elements/list";

/*=========
  Home page
===========*/

/* Splash Section */
.splash {
    height: $body-height;

    position: relative; // Required for `::after` pseudo element
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        /* Background image by Anders Jildén at Unsplash.com */
        background-image: url(/assets/img/skyline.jpg);
        background-color: #333;
        background-size: cover;
        background-position: center;
        opacity: 0.2;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    h1 {
        font-weight: normal;
        margin: 0;
    }

    p {
        font-size: 19px;
        line-height: 36px;
        text-align: center;
    }
}

/* About Section */
.about{
    position: relative;
    overflow-x: hidden;
    padding-top: 100px;
    text-align: center;
    
    &::after {
        content: "";
        display: inline-block;
        background: map-get($accent, medium);
        height: 80%;
        width: 100px;
        transform: rotate(8deg);
        
        position: absolute;
        right: -75px;
        top: 25px;
    }
    
    > p {
        width: 50%;
        margin: 0 auto;
    }

    .skill-container {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 75px auto;
    }

    .skill-section {
        width: 30%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;

        i {
            font-size: 48px;
            margin-bottom: 8px;
            color: map-get($accent, medium);
        }

        p {
            margin: 0;
        }
    }
}

/* Work Section */
.work {
    padding-top: 100px;
    text-align: center;

    h2 {
        font-size: 28px;
    }

    .work-lead {
        font-style: italic;
        font-size: 18px;
    }

    .portfolio-container {
        position: relative;
        width: 70%;
        margin: 50px auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .item{
        width: 30%;
        border-radius: 5px;
        overflow: hidden;
        margin: 2em auto;
        box-shadow: 0 0px 3px rgba(0,0,0,0.25);
        transition: box-shadow .25s ease-out;
    }

    .item:hover {
        box-shadow: 0 0 28px rgba(0, 0, 0, 0.25); 
    }

    .item img {
        width: 100%;
        text-align: center;
        display: block;
    }

    .item-content{
        background: white;
        padding: 1.5rem;
        text-align: left;
    }

    .item-content div {
        margin-top: 2rem;
        text-align: right;
    }
    .item-content h3 {font-size: 1.25rem}

    .card-action{
        color: map-get($accent, medium);
        text-decoration: none;
        padding: .25rem .5rem;
        border: 1px solid white;
        transition: border .2s ease-out, background-color .2s ease-out;
    }

    .card-action:hover {
        border: 1px solid map-get($accent, medium);
    }

    .card-action:focus{
        background-color: transparentize(map-get($accent, dark), 0.75);
    }
}

/*=============
  About Page
==============*/
.about-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 32px 0;

    h2 {
        width: 100%;
        text-align: center;
    }
    section {
        width: 40%;
        padding-left: 32px;
    }
    img {
        border-radius: 50%;
    }
}


/*=============
  Post Pages
=============== */

.post {
    width: 700px;
    margin: 0 auto;
}


/*============
  Hanucode Page
==============*/
.hanucode {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hanucode::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    background-image: url('/assets/img/menorah.jpg'); // Image by Element5 Digital on Unsplash.com
    background-position: center;
    background-size: cover;
    opacity: 0.4;
}

@media only screen and (max-width: 768px) {
    /* Navigation */
    .navbar {
        .nav {
            max-height: 0;
            overflow: hidden;
            text-align: center;
            background: white;
            width: 100%;
            padding: 0;
            transition: max-height 0.5s ease-out, padding-top 0.2s ease-out, padding-bottom 0.2s ease-out;

            position: absolute;
            top: 65px;
            left: 0;
            z-index: 2;
        
            &.activeMenu {
            max-height: $body-height;
            padding: .5em;
            }

            .nav-link {
                display: block;
                font-size: 2em;
                margin: 2.5em;
            }
        }

        /* Hamburger Icon (with animation) */
        .hamburger {
            display: inline;
            
            .bars{
                background: map-get($black, dark);
                display: block;
                width: 2.5em;
                height: .25em;
                margin: 0.5em;
                text-align: center;
                transition: width .3s ease-out, transform .5s ease-out;
            }

            &.responsive :first-child{
                transform: rotate(45deg) translate(7px, 6px);
            }

            &.responsive :nth-child(2){
                width: 0;
            }

            &.hamburger.responsive :last-child{
                transform: rotate(-45deg) translate(10px, -10px);
            }
        }
    }

    /* Global Footer*/
    .contact {
        margin-top: 24px;
        padding: 0 16px;
    }

    /*=========
      Home Page
    =========*/

    /* Splash Section */
    .splash {
        // padding-top: 70px;
        // overflow: hidden;
        
        flex-direction: column;
        justify-content: center ;

        .container {
            padding-top: 7%;
            text-align: center;
            width: 70%;
        }

        .splash__btn {
            width: 60%;
            font-size: 1.35em;
            margin-top: 24px;
        }

        .avatar {
            width: 40%;
        }
    }

    /* About Section */
    .about {
        padding: 1em;
        text-align: center;
        
        &::after {
            display: none;
        }

        &__text {
            width: 100%;
        }

        .skill-container {
            flex-direction: column;
        }

        .skill-section {
            width: 100%;
            margin-bottom: 32px;
        }

        .skills {
            padding: 0;
            text-align: left;
        }
    }
    
    /*Work Section*/
    .work {
        padding-top: 0;
        
        .portfolio-container {
            flex-direction: column;
            margin-top: 10px;
        }

        .item {
            width: 90%;
        }
    }

    /*=============
      About Page
    ==============*/
    .about-page {
        h2 {
            margin: 32px 0;
        }

        section {
            width: 90%;
            padding-left: 0;
            margin-bottom: 24px;
        }
        
        img {
            margin-bottom: 24px;
        }
    }

    /*=============
      Post Pages
    =============== */
    .post {
        width: 350px;
    }
}
