@import 'variables';
@import 'normalize';

@import "util/grid";
@import "util/typography";

@import "elements/blockquote";
@import "elements/code";
@import "elements/list";

@import 'components/header';
@import 'components/modal';
@import 'components/footer';
@import 'components/hero';


html{scroll-behavior: smooth}

body {
    font-family: $ff-sans;
    color: $black--dark;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}