// Fonts
$ff-sans: Montserrat, Helvetica, "Segoe UI", Arial, sans-serif;
$ff-mono: "Source Code Pro", Monaco, Consolas, "Courier New", monospace;

// Colors
$accent--light: #77D19C;
$accent--medium: #58B27D;
$accent--dark: #4E9E6F;
$accent--extra-dark: #196C3C;

$white--extra-light: #FCFEFF;
$white--light: #F5F9FC;
$white--medium: #E3E8EB;
$white--dark: #D7DADE;
$white--extra-dark: #B1BBC7;

$black--light: #76808A;
$black--medium: #4E5561;
$black--dark: #0A0B0D;

$info--light: #7EBAED;
$info--medium: #559DD9;
$info--dark: #4C8CC2;
$info--extra-dark: #19466B;

$success--light: #51CFAA;
$success--medium: #52A990;
$success--dark: #39977C;

$warning--light: #F7D586;
$warning--medium: #EBBE54;
$warning--dark: #DEAD37;

$error--light: #E07B70;
$error--medium: #F16050;
$error--dark: #D15345;