/* Variables */
$bg: #FCFEFF;
$main: #0A0B0D;
$accent: hsl(145, 39%, 47%);

$f-ss: Montserrat, Helvetica, "Segoe UI", Arial, sans-serif;
$f-mono: "Source Code Pro", Monaco, Consolas, "Courier New", monospace;

$body-height: calc(100vh - 65px);