@use '../theme/color' as color;

/* Callout */
.callout {
    --callout-color: currentColor;
    background-color: var(--callout-color);
    background-image: linear-gradient(
      rgba(255,255,255,0.85),
      rgba(255,255,255,0.85)
    );
    border-left: 4px solid var(--callout-color);
    padding: 4px 8px;
}

.callout--info {
    --callout-color: #{color.$info};
}

.callout--success {
    --callout-color: #{color.$success};
}

.callout--warning {
    --callout-color: #{color.$warning};
}

.callout--danger {
    --callout-color: #{color.$danger};
}
