$pearl: (
    default: hsl(0, 50%, 100%),
    surface: hsl(240, 14%, 96%)
);

$maple: (
    default: hsl(357, 83%, 55%),
    bg: hsl(358, 74%, 91%)
);

$conifer: (
    default: hsl(115, 40%, 36%),
    bg: hsl(113, 28%, 88%),
);

$lupine: (
    default: hsl(295, 44%, 40%),
    bg: hsl(294, 32%, 88%),
);

$aspen: (
    default: hsl(51, 63%, 51%),
    bg: hsl(50, 55%, 87%)
);

$beech: (
    default: hsl(204, 29%, 51%),
    bg: hsl(207, 20%, 91%)
);
