@use 'sass:list';
@use 'sass:map';

$fonts: (
    display: var(--ff-body),
    body: 'Open Sans',
    code: 'Source Code Pro'
);

// #region fallbacks
$-fallbacks: (
    emoji: (
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji"
    ),
    display: (
        'Times New Roman', Times, serif
    ),
    body: (
        system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell",
        "Noto Sans", sans-serif
    ),
    code: (
        Menlo, Monaco, Consolas, 'Courier New', Courier, monospace
    )
);
// #endregion

@each $k, $v in $fonts {
    $fallback: map.get($-fallbacks, $k);
    $emoji: map.get($-fallbacks, 'emoji');
    $stack: $v, list.join($fallback, $emoji);
    $fonts: map.set($fonts, $k, $stack);
}

/// Fluid Typography (scales with the viewport)
/// From @link https://www.fluid-type-scale.com/ with a 1.25 type-scale ratio, 16px/18px (mobile/desktop)
$font-sizes: (
    sm: clamp(0.8rem, 0.182vw + 0.755rem, 0.9rem),
    base: clamp(1rem, 0.227vw + 0.943rem, 1.125rem),
    md: clamp(1.25rem, 0.284vw + 1.179rem, 1.406rem),
    lg: clamp(1.563rem, 0.355vw + 1.474rem, 1.758rem),
    xl: clamp(1.953rem, 0.444vw + 1.842rem, 2.197rem),
    xxl: clamp(2.441rem, 0.555vw + 2.303rem, 2.747rem),
    xxxl: clamp(3.052rem, 0.694vw + 2.878rem, 3.433rem),
);

/// Fluid, scalable line-height, modified slightly
/// @author Jesús Ricarte
/// @link https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/
/// Guest post on the subject
$line-height: calc(2ex + 5px);
