@use 'sass:meta';
@use 'colors';

@forward 'fonts';


$colors: meta.module-variables(colors);

$space: (
    none: 0,
    tiny: 4,
    small: 8,
    medium: 16,
    large: 32,
    huge: 64
);
// $shadows: ();
// $borders: ();
