---
import * as cfg from '~/site.config';
---

<footer>
	<div class="h-card">
		<small>
			Copyright 2018-2026 <a
				href="/"
				rel="me"
				class="u-url p-name"
			>{cfg.me.name}</a>
		</small>

		<link href="mailto:binyamingreen@protonmail.com" rel="me" />
		<link href="https://github.com/binyamin" rel="me" />
		<link href="https://front-end.social/@binyamin" rel="me" />
	</div>
	<div>
		<a href="/colophon">Colophon</a>
		<a
			href="https://github.com/binyamin/binyam.in"
			target="_blank"
			rel="noopener noreferrer"
		>Source Code</a>
	</div>
</footer>
