---
import Logo from '~/assets/img/logo.svg';
---

<header>
	<nav>
		<a href="/">
			<Logo
				height={48}
				width={48}
				aria-label={'A logo with the letters "B" and "G"'}
			/>
		</a>
		<ul>
			<li><a href="/me">About</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</header>
