---
import Logo from '~/assets/img/logo.svg';
---

<header>
	<nav>
		<a href="/">
			<Logo
				height={48}
				width={48}
				aria-label={'A logo with the letters "B" and "G"'}
			/>
		</a>
		<ul>
			<li><a href="/me">Me</a></li>
			<li><a href="/c/blog">Articles</a></li>
			<li><a href="/c/micro">Microblog</a></li>
			<li><a href="/more">More Links</a></li>
		</ul>
	</nav>
</header>
