//----------
// CSS Reset
//
// Inspired by Andy Bell in https://piccalil.li/blog/a-modern-css-reset/
// Inspired by Josh W. Comeau in https://www.joshwcomeau.com/css/custom-css-reset/
//----------

*, *::before, *::after {
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
}

// Remove list styles on ul, ol elements with a list role,
// which suggests default styling will be removed
// From Scott O'Hara in https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
:is(ul, ol)[role=list] {
    list-style: none;
    margin: 0;
    padding: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

// Remove all animations, transitions and smooth scroll for
// people who prefer not to see them
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
