//----------
// Typography
//----------

@use '../abstracts/theme';
@use '../abstracts/typography';

html {
    font-family: theme.font-family('body');
    font-size: theme.font-size('base');
}

html * {
    // Line-height is a calculation, so it must be set on children explicitely
    line-height: theme.$line-height;
}

// (1 - 5 excludes 5)
@for $n from 1 to 5 {
    h#{$n} {
        @extend %h#{$n};
    }
}

small {
    @extend %small;
}
