:root {
  --color-accent--light: #6FCF97;
  --color-accent: #5E9876;
  --color-accent--dark: #386C4E;
  --color-blue: #2D9CDB;
  --color-black: #000;
  --font-family: Inter, "Segoe UI", Arial, Helvetica, sans-serif;
  --mono-font: "Source Code Pro", Monaco, Consolas, "Courier New", monospace;
}

@supports (font-variation-settings: normal) {
  :root { --font-family: 'Inter var', "Segoe UI", Arial, Helvetica, sans-serif; }
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

var, kbd, code {
  font-family: var(--mono-font);
  font-size: 90%;
  color: #d43939;
  background-color: #f3f3f6;
  padding: 2px 4px;
  border-radius: 2px;
}

a:not([class^=btn]) {
  color: var(--color-accent--dark);
}

a:not([class^=btn]):hover {
  color: var(--color-accent);
}

a:not([class^=btn]):focus {
  color: var(--color-accent);
  outline: none;
  border: 1.5px solid transparent;
  box-shadow: 0 0 0 1px var(--color-blue);
  border-radius: 4px;
}

a.nav-link {
  /* specify tagname for specificity */
  color: var(--color-black);
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Finish Later */
.nav-link {
  font-size: 24px;
}