/* start overrides */
:root {
  --color-primary: #6FCF97;
  --font-family: Inter, "Segoe UI", Arial, sans-serif;
  --mono-font: "Source Code Pro", Monaco, Consolas, "Courier New", monospace;
}

@supports (font-variation-settings: normal) {
  :root { --font-family: 'Inter var', "Segoe UI", Arial, sans-serif; }
}

.is-rounded {
  overflow: hidden;
}

/* end overrides */
html {
  scroll-behavior: smooth;
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.avatar svg {
  border-radius: 999px;
  overflow: hidden;
  max-width: 40vh;
}
nav {
  transition: width .3s ease;
}

.custom-dropdown {
  position: relative;
}

.custom-dropdown summary {
  padding: 1rem 2rem;
}

.custom-dropdown .card {
  position: absolute;
  right: 0;
}

.c-is-tooltip {
  display: none;
}

.c-has-tooltip:hover ~ .c-is-tooltip {
  display: inline-block;
  max-width: 200px;
  position: absolute;
  transform: translate(0,-50%);
}