---
import Layout from '~/layouts/base.astro';
---

<Layout title="Page not found" type="page" hidden>
	<h1>This page couldn't be found</h1>

	<p>Well, this is embarrassing. I couldn't find the page you wanted.</p>

	<p>
		Please <a href="/contact">tell me about the broken link</a>, so I can fix
		it. If you were looking for a blog post, you can peruse my <a href="/c/blog"
		>articles</a> and <a href="/c/micro">micro blog</a>. Otherwise, I've
		compiled <a href="/more">a list of standalone pages</a> on my website. Check
		it out.
	</p>
</Layout>
