@use '../theme/color';
@use '../typography';
@use '../base/elements/hyperlink';

/* Post feed */
.posts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.posts-lead {
    margin-bottom: 8px;
}

.posts-details {
    color: color.$text-alt;
    margin: 0;
}

.post-item {
    margin: 32px 0;
}

.post-item__title {
    margin-bottom: 0;
    @extend %byline;
}

.post-item__details {
    margin: 0 0 4px 0;
    color: color.$text-alt;
}
