.site-wrapper {
	margin: 0 24px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-content {
	flex-grow: 1;
	width: min(72ch, 100%);
	margin: 1.5rem auto 0;
}

.site-footer {
	text-align: center;
	margin: 8px 24px;
}
