backend:
  name: git-gateway
  branch: master

publish_mode: editorial_workflow

media_folder: "assets/uploads"

collections:
  - name: "blog" # Used in routes, e.g., /admin/collections/blog
    label: "Blog" # Used in the UI
    folder: "_posts" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Layout", name: "layout", widget: "hidden", default: "post"}
      - {label: "Main Class", name: "main_class", widget: "hidden", default: "post"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "date"}
      - {label: "Featured Image", name: "thumbnail", widget: "image", hint: "Should be a 4:3 ratio image"}
      - {label: "Description", name: "desc", widget: "text", required: false, hint: "This will be displayed on the site and in searches."}
      - {label: "Body", name: "body", widget: "markdown"}