@use '../theme/color' as color;

// Heading with byline
hgroup {
    :is(h1,h2,h3,h4) {
        margin-bottom: 0;
    }

    :is(h1,h2,h3,h4) + p {
        margin-top: 0;
        color: color.$text-alt;
    }
}
