---
permalink: /blog/{{ title | slug }}/index.html
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <main class="post">
        <article class="h-entry">
            <header class="post-header">
                <h1 class="post-title p-name">{{ title }}</h1>
                <p class="post-details">Published on <a href={{page.url}} class="u-url"><time class="dt-published" datetime="{{ date | date: '%Y-%m-%d'}}">{{ date | date: "%B %d, %Y"}}</time></a> &bull; {% wordCount %}</p>
                <p class="post-tags">
                    {% if tags %}
                    Tagged with
                    {% for tag in tags %}
                    <a href="/blog?filter={{tag}}"><strong role="img">#</strong><span class="p-category">{{tag}}</span></a>
                    {% endfor %}
                    {% endif %}
                    <a href="/blog" class="p-category" hidden>posts</a>
                </p>
            </header>
            <div class="e-content">
                {{ content }}
            </div>
            {% include newsletter.html %}
            
            {% assign abs_url = page.url |absolute_url %}
            {% assign mentions = webmentions | getMentionsForUrl: abs_url %}
            {% if mentions.length > 0 %}
            <h2>Webmentions
                <a href="https://indieweb.org/Webmention" class="wm-note" title="What are webmentions?">(?)</a>
            </h2>
            <ul class="wm-mentions">
                {% for mention in mentions %}
                    <li class="u-comment h-cite wm-mention">
                        <a class="u-url h-card wm-mentioner" href="{{mention.url}}">
                            <img class="u-photo wm-mentioner__img" src="{{mention.author.photo}}" alt="Picture of {{mention.author.name}}">
                            <span class="p-name wm-mentioner__name">{{mention.author.name}}</span>
                        </a>
                        <time class="dt-published wm-mention__time" datetime="{{mention['wm-received'] | date: '%Y-%m-%dT%H:%M:%S%z'"}}">{{mention['wm-received'] | date: "%B %d, %Y - %I:%M%P"}}</time>
                        <div class="p-content wm-mention__content">{{mention.content.html | truncate: 160}}</div>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="post-footer">
                <p class="h-card p-author" hidden>
                    <a href="https://binyam.in" class="p-name u-url" rel="author">Binyamin Green</a>
                    <img src="/assets/img/profile.png" class="u-photo">
                </p>
                <a href="#top" class="sr-only">Top</a>
            </div>
        </article>
    </main>
    {% include footer.html %}
    <script src="/js/twitter.js"></script>
</body>
</html>