---
permalink: /blog/{{ title | slug }}/index.html
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <main class="post">
        <div id="top"></div>
        <article class="h-entry">
            <header class="post-header">
                <h1 class="post-title p-name">{{ title }}</h1>
                <p class="post-details">Published on <a href={{page.url}} class="u-url"><time class="dt-published" datetime="{{ date | date: '%Y-%m-%d'}}">{{ date | date: "%B %d, %Y"}}</time></a> &bull; {% wordCount %}</p>
                <p class="post-tags">
                {% if tags %}
                    Tagged with
                    {% for tag in tags %}
                        <a href="/blog?filter={{tag}}"><strong role="img">#</strong><span class="p-category">{{tag}}</span></a>
                    {% endfor %}
                {% endif %}
                    <a href="/blog" class="p-category" hidden>posts</a>
                </p>
            </header>
            <div class="e-content">
                {{ content }}
            </div>
            <div class="post-footer">
                <p class="h-card p-author" hidden>
                    <a href="https://binyam.in" class="p-name u-url" rel="author">Binyamin Green</a>
                    <img src="/assets/img/profile.png" class="u-photo">
                </p>
                <a href="#top" class="sr-only">Top</a>
            </div>
        </article>
    </main>
    {% include footer.html %}
</body>
</html>