/**
 * REPEL
 * Pushes items apart if there is space, otherwise stacks.
 *
 * Config:
 * --repel-gap (space-sm) Defines the space between items
 * --repel-valign (stretch) Controls vertical alignment
 * [data-repel-nowrap] Disable wrapping on overflow
 */

.repel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: var(--repel-valign, center);
	gap: var(--repel-gap, var(--space-sm));

	&[data-repel-nowrap] {
		flex-wrap: nowrap;
	}

	> * {
		--repel-gap: initial;
		--repel-valign: initial;
	}
}
