@use '../../theme/type' as type;
@use '../../theme/color' as color;

/* Code-like */

pre, var, code {
	font-family: type.font-family('pre');
	line-height: normal;
}

var,
:not(pre) > code {
	border: 1px solid #c9c9c9;
	background-color: color.$surface-alt;
	padding: 0.1em 0.3em 0;
	border-radius: 0.2em;
}
