@use '../../theme/color' as color;
@use '../../typography';

table {
    border-collapse: collapse;
    margin: 16px auto;
}

td, th {
    border-bottom: 1px solid #000;
    padding: 2px 8px;
}

th[scope=row] {
    text-align: left;
    font-weight: normal;
    font-style: italic;
}

tbody tr:nth-of-type(2n + 1) {
    background-color: color.$surface-alt;
}


table + figcaption {
    text-align: center;
    font-style: italic;
    @extend %small;
}
