---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for page in collections.all | reverse | selectattr('url') %}
    <url>
        <loc>{{page.url | absolute_url}}</loc>
        <lastmod>{{page.date | date("YYYY-MM-DD")}}</lastmod>
    </url>
    {% endfor %}
</urlset>
