pre, code {
    font-family: $ff-mono;
}

pre {
    font-size: 14px;
}

:not(pre) > code {
    border-radius: 4px;
    background-color: map-get($white, dark);
    padding: 2px 4px;
}

// For Rouge Syntax Highlighting (dracula theme)
div.highlight {
    display: inline-block;
}

.highlight {
    .gl {
        background-color: #3e404a;
        color: #9d9d9d; 
        padding: 12px 8px 12px 6px;
    }
    
    table {
        border-spacing: 0;
    }

    .rouge-code {
        padding: 0 12px;
    }

    pre {
        margin: 0;
    }
}