// For GFM Tasklist Extension

ul.task-list {
    list-style-type: none;
    padding-left: 16px;
}

.task-list-item {
    &-checkbox {display: none;}

    &::before {
        font-family: boxicons;
        content: "\e9f0";
        margin-right: 4px;
    }
}