a:not([class*=btn]) {
    color: map-get($accent, extra-dark);
    
    &:hover {
        color: map-get($accent, dark);
    }

    &:active {
        text-decoration: none;
    }

    &.text-white {
        color: map-get($white, extra-dark);
        
        &:hover {
            color: map-get($white, dark)
        }
    }
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    color: map-get($black, dark);
}