@use '../helpers' as *;

body {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
  min-height: 100vh;
}

// For specificity, it's easier if there's no `:not(.default)` selector
main {
  flex-grow: 1;
  margin: 48px auto 0;
  max-width: calc(100% - 48px); // 100% width with 24px gutters
  min-width: 328px;
  width: 70ch; // 60-75 characters, for optimal reading
}

.page-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap; // so mobile nav can expand
  justify-content: space-between;
  margin-top: 8px;

  &__logo {
    display: flex;
  }

  &__logo img {
    border-radius: 4px;
  }
}

.page-footer {
  color: $c-grey--dark;
  display: inline-block;
  font-family: $f-display;
  font-weight: 500;
  margin: 8px auto;
  text-align: center;

  :any-link {
    text-decoration-color: currentColor;
  }
}
