@use '../helpers' as *;

body {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
  min-height: 100vh;
}

main:not(.default) {
  flex-grow: 1;
  margin: 48px auto 0;
  max-width: calc(100% - 48px); // 100% width with 24px gutters
  min-width: 328px;
  width: 66ch; // 66 characters, for optimal reading
}

.page-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap; // so mobile nav can expand
  justify-content: space-between;
  margin-top: 8px;

  &__logo {
    display: flex;
  }

  &__logo img {
    border-radius: 4px;
  }
}

.page-footer {
  display: inline-block;
  margin: 8px auto;
  text-align: center;

  &::before {
    background-color: $c-accent;
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto;
    width: 30%;
  }
}
