@use 'sass:color';
@use '../helpers' as *;

// Single post

.post-header {
  &__title {
    margin-bottom: 0;
  }

  &__details {
    color: $c-grey--dark;
    margin-top: 8px;
  }
}

.post-content {
  margin-bottom: 24px;
}
