<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

<title>{{ meta.title }}</title>

<meta name="generator" content="Eleventy v{{ meta.eleventyVersion }}">
<meta name="author" content="{{ site.author.name }}">
<meta name="description" content="{{ meta.desc }}">
<meta name="keywords" content="web developer, developer, jewish, judaism, jew, front-end, designer, html, css, javascript, jamstack, indieweb">
<link rel="canonical" href="{{ page.url | absolute_url }}" />
{% if ignore %}<meta name="robots" content="noindex">{% endif %}

<!-- OpenGraph tags -->
<meta property="og:title" content="{{ meta.title }}">
<meta property="og:type" content="{{ 'article' if meta.isPost else 'website' }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:image" content="{{ site.image.square }}">
<meta property="og:description" content="{{ meta.desc }}">

<!-- Feeds -->
<link rel="alternate" title="Binyamin Green" type="application/rss+xml" href="https://binyam.in/feeds/all.xml" />
<link rel="alternate" title="Binyamin Green" type="application/feed+json" href="https://binyam.in/feeds/all.json" />
<link rel="alternate" title="Binyamin Green (articles)" type="application/rss+xml" href="https://binyam.in/feeds/blog.xml" />
<link rel="alternate" title="Binyamin Green (articles)" type="application/feed+json" href="https://binyam.in/feeds/blog.json" />
<link rel="alternate" title="Binyamin Green (microblog)" type="application/rss+xml" href="https://binyam.in/feeds/micro.xml" />
<link rel="alternate" title="Binyamin Green (microblog)" type="application/feed+json" href="https://binyam.in/feeds/micro.json" />

<link rel="webmention" href="https://webmention.io/binyam.in/webmention" />
<link rel="pingback" href="https://webmention.io/binyam.in/xmlrpc" />

<!-- Twitter tags -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{site.author.twitter}}" />
<meta name="twitter:creator" content="@{{site.author.twitter}}" />
<meta name="twitter:title" content="{{ meta.title }}" />
<meta name="twitter:description" content="{{ meta.desc }}" />
{%- if meta.image_twitter %}<meta name="twitter:image" content="{{ meta.image_twitter }}" />{% endif %}

<!-- CSS -->
<link rel="stylesheet" href="/css/github.min.css" />
<link rel="stylesheet" href="/css/print.css" media="print">
<link rel="stylesheet" href="/css/style.min.css">

<link rel="preconnect" href="https://cdn.metrical.xyz/">
