{% assign metatitle = site.title %}
{% if title %}
    {% assign metatitle = title | append: " &VerticalLine; " | append: site.title %}
{% endif %}

{% assign metadesc = site.desc %}
{% if desc %}
    {% assign metadesc = desc %}
{% endif %}

{% assign metaicon = 'https://binyam.in/assets/favicon.ico' %}
{% assign metaimg = metaicon %}

{% if type == 'post' %}
    {% assign filePath = title | slugify | prepend: "https://binyam.in/assets/uploads/" | append: ".png" %}
    {% assign metaimg = filePath %}
{% endif %}

{% if thumbnail %}
    {% assign metaimg = thumbnail | absolute_url %}
{% endif %}

{% assign metatype = 'website' %}
{% if type == 'post' %}
    {% assign metatype = 'article' %}
{% endif%}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" href="https://binyam.in/assets/favicon.ico" type="favicon/icon">

<title>{{-metatitle-}}</title>

<meta name="author" content="Binyamin Aron Green">
<meta name="description" content="{{- metadesc -}}">
<meta name="keywords" content="programmer, web developer, developer, websites, front-end, full-stack, back-end, web designer, html, html5, css, css3, javascript, react, node, express">
<meta name="theme-color" content="#49a670">

<meta property="og:title" content="{{-metatitle-}}">
<meta property="og:type" content="{{metatype}}">
<meta property="og:url" content="{{ page.url | prepend: 'https://binyam.in' }}">
<meta property="og:image" content="{{- metaicon -}}">
<meta property="og:description" content="{{- metadesc -}}">

<link rel="canonical" href="{{ page.url | prepend: 'https://binyam.in'}}">

<link href="https://binyam.in/feed.xml" rel="alternate" type="application/atom+xml"/>

<link rel="webmention" href="https://webmention.io/binyam.in/webmention" />
<link rel="pingback" href="https://webmention.io/binyam.in/xmlrpc" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@{{- site.author.twitter -}}" />
<meta name="twitter:creator" content="@{{- site.author.twitter -}}" />
<meta name="twitter:title" content="{{-metatitle-}}" />
<meta name="twitter:description" content="{{-metadesc-}}" />
<meta name="twitter:image" content="{{- metaimg -}}" />
 
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap" media="print" onload="this.media='all'">

<!-- Other CSS -->
<link rel="preconnect" href="https://cdnjs.cloudflare.com/" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.2/styles/nord.min.css" />
<link rel="stylesheet" href="/style.css">

<script defer src="/js/index.js"></script>

<!-- Boxicons -->
<!-- <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"> -->
<!-- <script defer src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script> -->