<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
  <title>Funny Clip</title>
  
  <link rel="stylesheet" href="../css/style.css">
  <script defer src="../js/main.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
</head>
<body class="npr">
  <header class="navbar" id="navbar">
      <a href="/" class="logo-link">
          <img src="assets/logo.svg" alt="Binyamin Green" class="logo">
      </a>
      <nav class="nav">
          <a href="/" class="nav-link">Home</a>
          <a href="/index.html#about" class="nav-link">About</a>
          <a href="/index.html#work" class="nav-link">Work</a>
          <!-- <a href="./blog.html" class="nav-link">Blog</a> -->
          <!-- <a href="https://medium.com/noteclef-newsletter" class="nav-link">Blog</a> -->
          <a href="/index.html#contact" class="nav-link">Contact</a>
      </nav>
      <div class="hamburger">
          <span class="bars"></span>
          <span class="bars"></span>
          <span class="bars"></span>
      </div>
    </header>
    {{content}}
    <footer>
        <section>
        <ul>
            <li><a href="/index.html">Home</a></li>
            {% for page in site.html_pages %}
                <li><a href={{ page.url | relative_url }}>{{ page.title }}</a></li>
            {% endfor %}
            </ul>
        </section>
        <section>
            <img src="./assets/profile.JPG" alt="A picture of me">
            <p>My name is Binyamin Green. I'm 20 years old, and I'm a college student at CCBC. I moonlight as a web developer. In my free time, I enjoy computer programming, reading and playing music.</p>
        </section>
        <p>© Copyright <span class="copy"></span> by Binyamin Aron Green</p>
    </footer>
</body>
</html>
    