---
layout: default
---

<header>
    {% if page.thumbnail %}
    <figure>
        <img src="{{page.thumbnail}}" alt="" class="banner">
    </figure>
    {% endif %}
    <h1><a href="{{page.url}}">{{page.title}}</a></h1>
    <p>Originally posted {{page.date | date: "%b %d, %Y"}}</p>
</header>
<article id="top">
    {{content}}
</article>
<a href="#top">&UpArrow; top</a>
<blockquote>Psst: Thanks for checking out my blog. If you want, you can <a href="https://buymeacoff.ee/b3u">support my work</a>.</blockquote>