<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <main class="post">
        <div id="top"></div>
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-details">{{ page.date | date: "%B %d, %Y"}} &bull; {{ page.content | count_words }} words</p>
            <p class="post-tags">
                Tagged with
                {% for tag in page.tags %}
                    <a href="/blog?filter={{tag}}"><strong role="img">#</strong>{{tag}}</a>
                {% endfor %}
            </p>
        </header>
        <article>
            {{ content }}
        </article>
        <footer>
            <a href="#top" class="sr-only">Top</a>
        </footer>
    </main>
    {% include footer.html %}
</body>
</html>