---
import Layout from '~/layouts/archive.astro';
---

<Layout
	key="blog"
	title="Articles"
	description="In contrast to my journal, these posts aim to be fleshed-out pieces of writing."
>
	<Fragment slot="description">
		In contrast to <a href="/c/micro">my journal</a>, these posts aim to be
		fleshed-out pieces of writing.
	</Fragment>
</Layout>
