---
layout: default
title: Articles
---

<header class="posts-header">
    <h1 class="posts-title">Articles</h1>
    <p class="posts-details">Feeds: <a href="/feeds/blog.xml">RSS</a>, <a href="/feeds/blog.json">JSON</a></p>
    <p class="posts-tag" id="pageTag" hidden>
        <small>
            <a href="{{page.url}}" role="button">(clear)</a>
        </small>
    </p>
</header>

<ul class="posts" id="postList">
    {% for post in collections.blog reversed %}
    <li class="post-item" data-tags='{{ post.data.tags | default: "[]" | json }}'>
        <p class="post-item__title"><a href="{{post.url}}">{{post.data.title}}</a></p>
        <p class="post-item__details">Posted on {{ post.date | date: "%B %d, %Y"}}
        {% if post.data.tags %}&bull;{% endif %}
        {% for tag in post.data.tags %}
            <a href="/blog?filter={{tag}}" role="button" class="post-item__tag chip"><b aria-label="tagged as">#</b>{{tag}}</a>
        {% endfor %}
        </p>
        <div class="post-item__desc">{{post.data.desc}}<div>
    </li>
    {% endfor %}
</ul>

<script src="/assets/js/filterByTag.js"></script>
