---
layout: default
main_class: home
---

<picture>
	<source srcset="assets/img/profile/profile@128.webp">
	<img src="assets/img/profile/profile@128.jpeg" alt="" width="96" height="96" />
</picture>

<h1>Hi, I&CloseCurlyQuote;m Binyamin</h1>
<p>I&CloseCurlyQuote;m a designer, developer, and occassional writer.</p>
<p>I want to build a happier, healthier internet community. I try to give users control of their technology. Accessibility is key, along with intuitive design.</p>
<p>I&CloseCurlyQuote;m available for new projects! Reach out <a href="mailto:binyamin[remove-me]green@protonmail.com">via e-mail</a>.</p>
