<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% assign isHome = main_class | split: " " | includes: "home" %}
    {% if isHome %}
        <div class="banner">
            😷 It's covid season! Stay safe. Read the rules. Learn more at <a href="https://www.cdc.gov/coronavirus/2019-ncov/">www.cdc.gov</a>.
        </div>
    {% endif %}

    {% include nav.html %}

    <main class="{{main_class}}">
        {{ content }}
    </main>

    {% include footer.html %}
    {% include metrical.html %}
</body>
</html>
