<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}

    <main class="{{main_class}}">
        {{ content }}
    </main>

    {% include footer.html %}
    <script async>
        const b = document.getElementById("burger");
        const m = document.getElementById("menu");
        b.addEventListener("click", (evt) => {
            m.classList.toggle("is-menu-visible")
        })
    </script>
    {% include metrical.html %}
</body>
</html>
