<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <main class="note">
        <header>
            <h1 class="p-name">{{title}}</h1>
        </header>
        <article class="p-content">
            {{ content }}
        </article>
        <div class="bl">
            <p class="bl__title">Linking to this Note</p>
            {% unless backlinks.length > 0 %}
            <p class="bl__default">No backlinks found</p>
            {% endunless%}
            {% for link in backlinks %}
            <div class="bl__link-item">
                <a href="{{link.url}}" class="bl__url">{{link.title}}</a>
                <p>{{link.preview | markdownify | strip_html | default: "This note is mysterious"}}</p>
            </div>
            {% endfor %}
        </div>
        <footer class="notes-footer details">
            <p>If you enjoyed this note, let me know! You can <a href="mailto:binyamingreen@protonmail.com">email</a> me, or send me a <a href="https://twitter.com/messages/compose?recipient_id=1084624370327322624">direct message</a> on twitter.</p>
        </footer>
    </main>
    {% include footer.html %}
    {% include metrical.html %}
</body>
</html>
