---
import { type MaybeMarkdown } from '~/lib/utils';
import Layout, { type Props as BaseProps } from '../layouts/base.astro';

type Props = MaybeMarkdown<Omit<BaseProps, 'type'>>;

const props = 'frontmatter' in Astro.props
	? Astro.props.frontmatter
	: Astro.props;
---

<Layout {...props} type="page">
	<h1>{props.title}</h1>
	<slot />
</Layout>
