---
layout: default
main_class: post
---
<article class="h-entry">
    <header class="post-header">
        <h1 class="post-header__title p-name">{{ title }}</h1>
        <p class="post-header__details">Published on
            <a href={{page.url}} class="u-url">
                <time class="dt-published" datetime="{{ date | date: '%Y-%m-%d'}}">{{ date | date_est: false }}</time>
            </a>
            {% if category == 'blog' %}
                <a href="/c/blog" class="p-category" hidden>article</a>
            {% elsif category == 'micro' %}
                <a href="/c/micro" class="p-category" hidden>microblog</a>
            {% endif %}

        </p>
    </header>
    <section class="e-content post-content">
        {{ content }}
    </section>

    {% include webmentions.html %}


    <div class="post-footer">
        <p class="h-card p-author" hidden>
            <a href="https://binyam.in" class="p-name u-url" rel="author">Binyamin Green</a>
            <img src="/assets/img/profile/profile.webp" class="u-photo">
        </p>
        <a href="#top" class="sr-only">Top</a>
    </div>
</article>
<script async src="/assets/js/twitter.js"></script>
