---
permalink: /blog/{{ title | slug }}/index.html
layout: default
main_class: post
---
<article class="h-entry">
    <header class="post__header">
        <h1 class="post__title p-name">{{ title }}</h1>
        <p class="post__details">Published on <a href={{page.url}} class="u-url">
            <time class="dt-published" datetime="{{ date | date: '%Y-%m-%d'}}">{{ date | date: "%B %d, %Y"}}</time>
            </a>
            &bull;
            <!-- Should this be a div? -->
            <span class="post__tags">
                {% for tag in tags %}
                <a href="/blog?filter={{tag}}" class="chip"><b aria-label="tagged as">#</b><span class="p-category">{{tag}}</span></a>
                {% endfor %}
                <a href="/blog" class="p-category" hidden>article</a>
            </span>
        </p>
    </header>
    <section class="e-content">
        {{ content }}
    </section>

    {% include webmentions.html %}

    <div class="post-footer">
        <p class="h-card p-author" hidden>
            <a href="https://binyam.in" class="p-name u-url" rel="author">Binyamin Green</a>
            <img src="/assets/img/profile.webp" class="u-photo">
        </p>
        <a href="#top" class="sr-only">Top</a>
    </div>
</article>
<script async src="/assets/js/twitter.js"></script>
